<template>
  <div class="btn-wrap">
    <h3>我是一个组件</h3>
    <button @click="clickCount">点击次数: {{ count }}</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  methods: {
    clickCount() {
      this.count++
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped：样式隔离，让样式只在当前组件内生效
// 原理：给组件内的标签添加 data-v-xxx 自定义属性，通过属性选择器添加样式
.btn-wrap {
  border: 1px solid;
  padding: 10px;
}
button {
  background: tomato;
  color: #ffffff;
}
</style>