<template>
  <div>
    <button
      v-for="item in navList"
      :key="item.ComName"
      :class="{ active: item.ComName === curName }"
      @click="curName = item.ComName"
    >{{ item.title }}</button>

    <!-- include: 要缓存的组件 -->
    <!-- exclude: 不缓存的组件 -->
    <!-- max: 最多缓存几个组件，缓存最近访问的两个组件 -->
    <keep-alive :max="2">
      <Box v-if="curName === 'Box'" />
      <List v-else-if="curName === 'List'" />
      <Form v-else-if="curName === 'Form'" />
    </keep-alive>

    <!-- keep-alive: 保存组件状态，切换组件时不执行销毁，只有第一次进入组件时执行创建 -->
    <!-- <keep-alive> -->
      <!-- component: 动态组件 -->
      <!-- <component :is="curName"></component> -->
    <!-- </keep-alive> -->
  </div> 
</template>

<script>
import Box from './components/Box.vue'
import Form from './components/Form.vue'
import List from './components/List.vue'

export default {
  data() {
    return {
      curName: 'Box',
      navList: [
        { title: '导航一', ComName: 'Box' },
        { title: '导航二', ComName: 'List' },
        { title: '导航三', ComName: 'Form' }
      ]
    }
  },
  methods: {
  },
  components: {
    Box,
    Form,
    List
  }
}
</script>

<style lang="scss">
button.active {
  background: tomato;
}
</style>