<template>
  <!-- 组件只能有一个根元素，不能有同级的根元素 -->
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <p>num: {{ num }}</p>
    <button @click="add">+</button>
    <hr />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
  </div>
</template>

<script>
// 引入组件
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  name: 'App',
  // 组件内的data必须是一个函数，函数中必须return一个对象
  data() {
    return {
      title: '标题',
      num: 0
    }
  },
  methods: {
    add() {
      this.num++
    }
  },
  watch: {
    num() {
      console.log('num改变了', this.num)
    }
  },
  created() {
    // setInterval(() => {
    //   this.num++
    // }, 1000)
  },
  components: {
    // 注册组件
    ButtonCounter
  }
}
</script>

<style lang="scss">
body {
  background: #ffffff;
}

</style>
