<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <!-- <div class="loading"></div> -->

  <div class="app">
    <h1 @click="title = 123">{{ title }}</h1>
    <p class="desc">num: {{ num }}</p>
    <button @click="num++">+</button>
  </div>

  <script>

    // console.log(document.querySelector('.app').outerHTML)
  
    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      // template: `
      //   <div class="app">123</div>
      // `,
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        num: 0
      },
      computed: { // 计算属性
      },
      watch: { // 侦听器
      },
      methods: { // 定义函数  
      },
      // 生命周期钩子函数，在特定时机自动执行的函数
      
      // 创建阶段
      // vue 实例创建之前执行，此函数内无法使用 vue 相关的内容
      beforeCreate() {
        console.log('%c beforeCreate', 'color: red;font-size: 20px', this.title)
      },
      // 实例创建完成，vue相关的数据可以使用，调接口
      created() {
        console.log('%c created', 'color: red;font-size: 20px', this.title, document.querySelector('.app').outerHTML)
        this.timer = setInterval(() => {
          this.num ++
          console.log(this.num)
        }, 1000)
      },
      
      // 挂载阶段
      // 挂载前，可以获取和修改数据，在页面渲染之前最后一次修改数据的机会，无法获取到最新的dom
      beforeMount() {
        console.log('%c beforeMount', 'color: green;font-size: 20px', document.querySelector('.app').outerHTML)
        console.log('beforeMount $el', this.$el)
      },
      // 挂载完成, 渲染完成，可以获取到编译之后的dom元素
      mounted() {
        console.log('%c mounted', 'color: green;font-size: 20px', document.querySelector('.app').outerHTML)
        console.log('mounted $el', this.$el)
      },

      // 更新阶段
      // 更新前, 数据修改后，页面更新前
      beforeUpdate() {
        console.log('%c beforeUpdate', 'color: blue;font-size: 20px', document.querySelector('.desc').outerHTML)
      },
      // 页面更新后，可以获取到最新的dom
      updated() {
        console.log('%c updated', 'color: blue;font-size: 20px', document.querySelector('.desc').outerHTML)
      },

      // 销毁阶段
      // 销毁之前, 清除异步，例如定时器、原生事件
      beforeDestroy() {
        console.log('%c beforeDestroy', 'color: hotpink;font-size: 20px')
        clearInterval(this.timer)
      },
      destroyed() {
        console.log('%c destroyed', 'color: hotpink;font-size: 20px')
      }
    })

    // setTimeout(() => {
    //   vm.$mount('.app')
    // }, 2000)

  </script>
</body>
</html>