<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'


console.log(aaaa)
console.log(VERSION)

console.log(getVersion())

console.log(window.$abc)
</script>

<template>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/about">About</RouterLink>
    <RouterLink to="/list">List</RouterLink>
  </nav>

  <RouterView />
</template>

<style scoped>
nav a {
  margin: 0 10px;
}
</style>
