<script setup>
import { ref } from 'vue'
import Child from './Child.vue'

const arr = ref([1,2,3,4,5])
const count = ref(0)
const title = ref('我是小标题')
const obj = {
  name: '小明',
  age: 20
}
</script>

<template>
  <div>app</div>
  <p>count: {{ count }}</p>
  <Child
    v-model="count"
    v-model:title="title"
    name="123"
    v-bind="obj"
  />
  <Child
    :modelValue="count"
    @update:modelValue="e => count = e"
    :title="title"
    @update:title="e => title = e"
    :name="obj.name"
    :age="obj.age"
  />
  <ul>
    <!-- 在一个标签上同时使用v-for和v-if, v-if的优先级更高，不能使用v-for的变量 -->
    <!-- <li
      v-for="item in arr"
      :key="item"
      v-if="item % 2 === 1"
    >{{ item }}</li> -->
  </ul>
</template>

<style lang='scss' scoped>

</style>
