<script setup>
const props = defineProps(['modelValue', 'title'])
const emits = defineEmits(['update:modelValue', 'update:title'])

</script>

<template>
  <div class="box">
    <h3>{{ title }}</h3>
    <button @click="emits('update:title', Math.random())">修改标题</button>
    <hr />
    <button @click="emits('update:modelValue', modelValue + 1)">+</button>
    {{ modelValue }}
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
</style>
