<template>
  <div class="child">
    <h2>Child2 组件</h2>
    <p>app的标题：{{ obj }}</p>
  </div>
</template>

<script>

export default {
  inject: ['obj']
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>