<script setup lang="ts">
import { ref } from 'vue'
import { getBannerApi, getGoodsApi } from '@/services'
import type { BannerItem, GoodsItem } from '@/services'
import { useCartStore } from '@/store/cart'
import { showSuccessToast } from 'vant'

const cart = useCartStore()
const banners = ref<BannerItem[]>([])
const list = ref<GoodsItem[]>([])

const getBanner = async () => {
  const res = await getBannerApi()
  banners.value = res.data.banners
}

const getList = async () => {
  const res = await getGoodsApi()
  list.value = res.data.list
}

getBanner()
getList()

const addCart = (goods: GoodsItem) => {
  cart.push(goods)
  showSuccessToast('添加成功')
}
</script>

<template>
  <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
    <van-swipe-item v-for="item in banners" :key="item.targetId">
      <img :src="item.imageUrl" alt="">
    </van-swipe-item>
  </van-swipe>
  <van-grid :column-num="3" :center="false" class="grid">
    <van-grid-item
      v-for="it in list"
      :key="it.id"
      :to="{path: '/detail', query: { id: it.id }}"
    >
      <img :src="it.cover" alt="">
      <h4>{{ it.name }}</h4>
      <p>价格：¥{{ it.price }}</p>
      <van-button class="plus" size="mini" icon="plus" type="primary" @click.stop="addCart(it)" />
    </van-grid-item>
  </van-grid>
</template>

<style lang='scss' scoped>
img {
  width: 100%;
}
.grid {
  --van-grid-item-content-padding: 0;
}
.plus {
  width: 24px;
}
</style>
