<script setup>
import {
  ref,
  reactive,
  watch,
  watchEffect
} from 'vue'

const title = ref('我是标题')
const count = ref(0)

const obj = reactive({ name: '小明', age: 22, info: { a: { b: 100 } } })
const changeObj = () => {
  obj.name = Math.random() + ''
}


// 自动监听函数内使用的响应式变量
// const stop = watchEffect(async (onCleanup) => {
//   console.log(count.value)

//   const timer = setInterval(() => {
//     count.value++
//   }, 1000)

//   onCleanup(() => {
//     clearInterval(timer)
//   })
// })


// setTimeout(() => {
//   stop()
// }, 5000)


watchEffect(() => {
   console.log(title.value)
   console.log(document.querySelector('h1')?.outerHTML)
}, {
  flush: 'post' // 修改watchEffect执行时机
})


function searchApi(keywords) {
  return new Promise((resolve, reject) => {
    const arr = (Math.random() + '').split('').map(v => (v + '_' + keywords))
    setTimeout(() => {
      resolve(arr)
    }, 1000)
  })
}

</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="count++">count: {{ count }}</button>
  <hr />
  <button @click="changeObj">修改对象</button>
  <button @click="obj.age++">age+</button>
  <button @click="obj.info.a.b++">obj.info.a.b+</button>
  <button @click="obj.info = 100">修改info</button>
  <p>{{ obj }}</p>
</template>

<style lang='scss'>

</style>
