<template>
  <div class="home">
    <h2>首页</h2>
    <router-link to="/login">跳转登录</router-link>
    <button @click="getChild">获取child组件实例</button>
    <Child ref="childRef" />
    <Box />
  </div>
</template>

<script>
import Child from '../../components/Child.vue'
import Box from '../../components/Box.vue'

export default {
  components: {
    Child,
    Box
  },
  methods: {
    getChild () {
      // console.log(this.$refs.childRef)
      this.$refs.childRef.changeCount(2)
      console.log(this.$refs.childRef.num)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>