<script setup>
import {
  ref,
  reactive,
  watch
} from 'vue'

const title = ref('我是标题')
const count = ref(0)

const obj = reactive({ name: '小明', age: 22, info: { a: { b: 100 } } })
const changeObj = () => {
  obj.name = Math.random() + ''
}


// 监听
// watch(title, (newVal, oldVal) => {
//   console.log('title变化了', newVal, oldVal)
// })
// 监听多个变量
// watch([title, count], (newVal, oldVal) => {
//   console.log('count或者title 变化了', title.value, count.value)
//   console.log(newVal)
//   console.log(oldVal)
// })

// 监听对象，只要对象中有内容改变就会执行，不管嵌套多深
// watch(obj, () => {
//   console.log('obj改变了', obj)
// })

// 监听对象的指定属性，必须使用函数
// watch(
//   () => [obj.age, obj.name],
//   (newVal, oldVal) => {
//     console.log('obj.age 或者 obj.name 改变了', obj)
//     console.log(newVal, oldVal)
//   }
// )

watch(
  () => obj.info,
  () => {
    console.log('obj.info改变了')
  },
  {
    deep: true, // 深度监听
    // immediate: true, // 立即执行
    once: true // 只监听一次
  }
)
</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="count++">{{ count }}</button>
  <hr />
  <button @click="changeObj">修改对象</button>
  <button @click="obj.age++">age+</button>
  <button @click="obj.info.a.b++">obj.info.a.b+</button>
  <button @click="obj.info = 100">修改info</button>
  <p>{{ obj }}</p>
</template>

<style lang='scss'>

</style>
