<template>
  <div class="child">
    <h3>我是 box 组件</h3>
    <button @click="add">修改child组件数据</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    add () {
      this.$bus.$emit('changeCount', 10)
    }
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
  button {
    padding: 0 20px;
  }
}
</style>