<template>
  <div class="child">
    <h3>我是child组件</h3>
    <button @click="changeCount(1)">+</button>
    {{num}}
    <button @click="changeCount(-1)">-</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    changeCount (n) {
      this.num += n
    }
  },
  created () {
    // 往eventBus中存事件
    this.$bus.$on('changeCount', n => {
      this.changeCount(n)
    })
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
  button {
    padding: 0 20px;
  }
}
</style>