<template>
  <div>
    <h1>封装组件</h1>
    <button @click="visible = true">新增</button>
    <Dialog
      :visible="visible"
      title="新增弹窗"
      test="abc"
      @close="visible = false"
    >
      <template v-slot:default="obj">
        <!-- obj: 接收组件内 slot 传过来的参数 -->
        <ul>
          <li v-for="item in obj.arr" :key="item">{{ item }}</li>
        </ul>
        {{aa}}
        <a :href="obj.url">百度一下</a>
        <p>b: {{ obj.b }}</p>
        <p>c: {{ obj.c }}</p>
      </template>
      
      <template #footer="{ aa }">
        {{aa}}
        <div class="btns">a11111111</div>
      </template>
    </Dialog>





    <!-- 
      <Dialog
        :visible="obj.visible"
        :title="obj.title"
        :showClose="obj.showClose"
        @close="obj.visible = false"
      />
      v-bind="对象" 会把此对象中的所有属性传给组件
      <Dialog
        v-bind="obj"
        @close="obj.visible = false"
      /> 
    -->
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
export default {
  data() {
    return {
      visible: false,
      obj: {
        visible: true,
        title: '标题',
        showClose: false
      },
      aa: 'ABCDEFG'
    }
  },
  components: {
    Dialog
  }
}
</script>

<style>

</style>