nav {
  border-bottom: 1px solid;
}
nav a {
  margin: 0 10px;
}
a.active {
  background: red;
}
.content {
  border: 1px solid red;
  padding: 20px;
  height: 500px;
  overflow: auto;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  color: #ffffff;
}
.box {
  width: 300px;
  height: 300px;
  background: red;
}