<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'
import type {
  UploaderProps,
  UploaderInstance,
  UploaderResultType,
  UploaderFileListItem,
} from 'vant'


const filelist = ref<UploaderFileListItem[]>([])
const afterRead = (val: any) => {
  val.status = 'uploading'
  val.message = '上传中...'

  const formData = new FormData()
  formData.append('file', val.file)
  axios.post('http://10.37.15.100:8005/api/upload', formData)
    .then(res => {
      console.log(res.data)
      val.status = 'done'
    })
}

const onOversize = (file: any) => {
  console.log(file);
  alert('文件大小不能超过 500kb');
};


const img2 = ref('')
const change = (e: any) => {
  console.log(e.target.files[0])

  const xhr = new XMLHttpRequest()
  xhr.open('post', 'http://10.37.15.100:8005/api/upload')
  xhr.onreadystatechange = () => {
    if (xhr.readyState === 4 && xhr.status === 200) {
      const data = JSON.parse(xhr.responseText)
      console.log(data)
      img2.value = data.url
    }
  }
  const formData = new FormData()
  formData.append('file', e.target.files[0])
  formData.append('a', '100')
  formData.append('b', 'bbbbb')
  xhr.send(formData)
}
</script>

<template>
  <van-uploader :max-count="1" :reupload="true" :max-size="500 * 1024" v-model="filelist" :after-read="afterRead" @oversize="onOversize" /> 
  <input type="file" @change="change">
  <img :src="img2" alt="">
</template>

<style lang='scss' scoped>

</style>
