<template>
  <div>
    <h1>{{title}}</h1>
    <input type="text" v-model="title">
    <hr />
    <img v-if="title.length < 5" v-load="url[index]" alt="">
    <button @click="add">+</button>
    <p>
      {{url[index]}}
    </p>
  </div> 
</template>

<script>

export default {
  data() {
    return {
      title: '123',
      index: 0,
      url: [
        'https://img2.baidu.com/it/u=858350348,3960206659&fm=253&fmt=auto&app=138&f=JPEG?w=1254&h=800',
        'https://img0.baidu.com/it/u=3344018110,2940260157&fm=253&fmt=auto&app=138&f=JPEG?w=469&h=497',
        'https://p1.ssl.qhmsg.com/t01e5fb6e45638145af.jpg',
        'https://img0.baidu.com/it/u=3706122221,1306478666&fm=253&fmt=auto&app=138&f=JPEG?w=400&h=533'
      ]
    }
  },
  methods: {
    add() {
      this.index++
      if (this.index > this.url.length - 1) {
        this.index = 0
      }
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
button.active {
  background: tomato;
}
img {
  width: 200px;
  height: 200px;
}
button {
  padding: 20px;
}
</style>