* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
  color: #333333;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style-type: none;
}