<template>
  <div class="app">
    <h2>组件</h2>
    <input type="number" v-model="num">{{ num }}
    <ButtonCounter
      title="测试标题"
      bgColor="skyblue"
      :count="num"
      @addFn="add"
      @changeCount="changeNum"
    />
    <!-- 给组件添加自定义事件，把父组件的函数传给子组件 -->
  </div>
</template>

<script>
// 引入组件
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  name: 'App',
  data() {
    return {
      num: 10
    }
  },
  methods: {
    add() {
      this.num++
    },
    changeNum(n) {
      // n: 子组件传入的参数
      this.num += n
    }
  },
  components: {
    // 注册组件
    ButtonCounter
  }
}
</script>

<style lang="scss">
body {
  background: #ffffff;
}

</style>
