<template>
  <div>
    <h1>组件上的v-model</h1>
    <!-- <input type="text" v-model="text">
    <input type="text" :value="text" @input="text = $event.target.value">
    -->
    <p>{{ text }}</p>


    <!-- <Input label="姓名" :value="text" @input="text = $event" /> -->
    <Input label="姓名" v-model="text" />
    <Input label="年龄" v-model="form.age" />
    <Input label="性别" v-model="form.sex" />
    <Input label="地址" v-model="form.address" />

    <button>提交</button>
    {{form}}
  <hr />

  <ButtonCounter v-model="num" />
  {{num}}
  </div> 
</template>

<script>
import ButtonCounter from './components/ButtonCounter.vue'
import Input from './components/Input.vue'
export default {
  data() {
    return {
      text: '12345',
      form: {
        age: '',
        sex: '',
        address: ''
      },
      num: 10
    }
  },
  methods: {
  },
  components: {
    Input,
    ButtonCounter
  }
}
</script>

<style>

</style>