<template>
  <div class="movielist">
    <div class="loading" v-show="loading"><p>加载中。。。</p></div>
    <div class="film" v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <h3>{{item.name}} - {{item.filmId}}</h3>
      <img :src="item.poster" alt="">
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const types = ['hot', 'coming']

export default {
  name: 'movieList',
  data () {
    return {
      list: [],
      loading: false,
      pageNum: 1,
      total: 0
    }
  },
  watch: {
    $route: {
      handler () {
        if (!types.includes(this.$route.params.type)) {
          this.$router.push('/404')
        }
        this.pageNum = 1
        this.list = []
        this.getList()
      },
      immediate: true
    }
  },
  methods: {
    async getList () {
      this.loading = true
      // 根据 type 调用不同的接口
      const type = this.$route.params.type === 'hot' ? 1 : 2
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: localStorage.getItem('cityId') || 440300,
          pageNum: this.pageNum,
          pageSize: 10,
          type,
          k: 1703132
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.list = this.list.concat(res.data.data.films)
      this.total = res.data.data.total
      this.loading = false
    },
    goDetail (filmId) {
      this.$router.push({
        path: `/detail/${filmId}`,
        query: {
          title: '王小明',
          age: 222,
          sex: '男'
        }
      })
    },
    addPageNum () {
      if (this.list.length >= this.total) return
      this.pageNum++
      this.getList()
      console.log('调用了addPageNum')
    }
  },
  created () {
    // 给eventbus注册事件
    this.$bus.$on('addPageNum', this.addPageNum)
  },
  beforeDestroy () {
    // 组件销毁之前给eventbus清除事件
    this.$bus.$off('addPageNum', this.addPageNum)
  },
  beforeRouteEnter (to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log('组件内的拦截')
    next()
  },
  beforeRouteUpdate (to, from, next) {
    // 在当前路由改变，但是该组件被复用时调用
    // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
    // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
    // 可以访问组件实例 `this`
    console.log('beforeRouteUpdate')
    next()
  },
  beforeRouteLeave (to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    console.log('beforeRouteLeave')
    if (window.confirm('确定要离开吗？')) {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
.film {
  img {
    width: 100px;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .4);
  p {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
