<template>
  <div>
    <Header :list="list" :curIndex="curIndex" @change="changeTab" />
    <Content :songs="list[curIndex].songs" />
    <hr />
    <button @click="add">+</button>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Content from './components/Content.vue'

export default {
  data() {
    return {
      list: [
        {
          singer: '许嵩',
          songs: ['素颜', '灰色头像', '多余的解释']
        },
        {
          singer: '汪苏泷',
          songs: ['不分手的恋爱', '一笑倾城', '有点甜']
        },
        {
          singer: '徐良',
          songs: ['客官不可以', '坏女孩', '红妆']
        }
      ],
      curIndex: 0
    }
  },
  methods: {
    changeTab(i) {
      this.curIndex = i
    },
    add() {
      this.curIndex++
      if (this.curIndex >= this.list.length) {
        this.curIndex = 0
      }
    }
  },
  components: {
    Header,
    Content
  }
}
</script>

<style>

</style>