<template>
  <div class="child">
    <h2>Child33 组件</h2>
    <button @click="clickfn">修改 child2 的num</button>
  </div>
</template>

<script>

export default {
  methods: {
    clickfn() {
      // 调用eventBus注册的事件
      this.$bus.$emit('add', 20)
    }
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>