<template>
  <div class="child3">
    <h2>Child3 组件</h2>
    <Child31 />
  </div>
</template>

<script>
import Child31 from './Child3-1.vue'
export default {
  components: {
    Child31
  }
}
</script>

<style lang="scss" scoped>
.child3 {
  border: 3px solid green;
  background: green;
  padding: 20px;
  margin: 20px 0
}
</style>