<template>
  <div class="child">
    <h2>Child2 组件</h2>
    <p>num: {{ num }}</p>
  </div>
</template>

<script>

export default {
  data() {
    return {
      num: 0
    }
  },
  methods: {
    add(n) {
      this.num += n
    }
  },
  created() {
    // 往eventBus注册事件
    this.$bus.$on('add', this.add)
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>