<template>
  <div class="child">
    <h2>Child3-1 组件</h2>
    <Child32 />
  </div>
</template>

<script>
import Child32 from './Child3-2.vue'
export default {
  components: {
    Child32
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>