<template>
  <div class="child">
    <h2>child1 组件</h2>
    <Child2 />
    <Child3 />
  </div>
</template>

<script>
import Child2 from './Child2.vue'
import Child3 from './Child3.vue'

export default {
  components: {
    Child2,
    Child3
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>