<template>
  <div class="child">
    <h2>Child3-2 组件</h2>
    <Child33 />
  </div>
</template>

<script>
import Child33 from './Child3-3.vue'
export default {
  components: {
    Child33
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>