
.bar {
  width: 100%;
  height: 6px;
  background: #4e4e4e;
  position: relative;
  p {
    width: 0;
    height: 100%;
    background: blue;
  }
  i {
    position: absolute;
    top: -7px;
    left: 0;
    width: 10px;
    height: 20px;
    background: blue;
    cursor: pointer;
  }
}