/**index.wxss**/
page {
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
}
$bgcolor: green;
.list {
  color: #ffffff;
  line-height: 40px;
  .list-item {
    background: $bgcolor;
  }
}