<script setup lang="ts">

interface Props {
  title: string;
  count: number;
}
const props = defineProps<Props>()

interface Emits {
  (e: 'changeCount', n: number): void;
  (e: 'changeTitle', title: string): void
}
const emits = defineEmits<Emits>()

</script>

<template>
  <div class="box">
    <h2>child组件</h2>
    <p>父组件的标题: {{ title }} <button @click="emits('changeTitle', Math.random() + '')">修改标题</button></p>
    <p>父组件的count: {{ count }} <button @click="emits('changeCount', 1)">+</button></p>
  </div>
</template>

<style scoped>
.box {
  border: 2px solid red;
  padding: 20px;
}
</style>
