<script setup lang="ts">
import { ref } from 'vue'

const count = ref(0)
const changeCount = (n: number) => {
  count.value += n
}

// 抛出类型
export interface Child2Expose {
  count: typeof count,
  changeCount: typeof changeCount
}


// 暴露变量给父组件使用
defineExpose<Child2Expose>({
  count,
  changeCount
})

</script>

<template>
  <div class="box">
    <h2>child2</h2>
    <button @click="changeCount(1)">+</button>
    {{ count }}
    <button @click="changeCount(-1)">-</button>
  </div>
</template>

<style scoped>
.box {
  border: 2px solid red;
  padding: 20px;
}
</style>
