* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
nav {
  border-bottom: 1px solid;
  padding: 20px;
  a {
    margin: 0 20px;
  }
  .active {
    background: tomato;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}