<template>
  <div class="city-list" ref="cityList">
    <div class="indexlist-content" ref="cityContent">
      <div
        v-for="item in list"
        :key="item.type"
        :class="['group', { hot: item.type === 'hot' }]"
      >
        <h3>{{item.type === 'hot' ? '热门城市' : item.type}}</h3>
        <ul>
          <li
            v-for="val in item.children"
            :key="val.cityId"
            @click="$emit('change', val.name, val.cityId)"
          >{{ val.name }}</li>
        </ul>
      </div>
    </div>
    <div class="indexlist-nav">
      <p
        v-for="(item, index) in rightList"
        :key="item.type"
        @click="jump(index, item.type)"
      >{{ item.type }}</p>
    </div>
    <div class="tip" v-show="tipText">{{tipText}}</div>
  </div>
</template>

<script>
export default {
  props: ['list'],
  data () {
    return {
      tipText: ''
    }
  },
  computed: {
    rightList () {
      return this.list.slice(1)
    }
  },
  methods: {
    jump (index, text) {
      // 根据下标查找要滚动的距离
      this.$refs.cityList.scrollTop = this.$refs.cityContent.children[index + 1].offsetTop
      this.tipText = text
      // 添加防抖: 连续多次执行某个操作，只执行最后一次
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.tipText = ''
      }, 2000)
    }
  }
}
</script>

<style lang="scss" scoped>
.city-list {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-right: 20px;
  padding-top: 10px;
  scroll-behavior: smooth;
}
.group {
  h3 {
    background-color: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
  }
  ul {
    padding-left: 20px;
    li {
      color: #191a1b;
      font-size: 14px;
      line-height: 48px;
      height: 48px;
      border-bottom: 1px solid #ededed;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
.hot {
  h3 {
    background: none;
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    li {
      width: calc((100% - 45px) / 3);
      background: #f4f4f4;
      text-align: center;
      height: 30px;
      line-height: 30px;
      margin: 0 7.5px 15px;
      border-bottom: none;
    }
  }
}
.indexlist-nav {
  position: fixed;
  top: 94px;
  right: 0;
  bottom: 0;
  width: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-size: 12px;
    margin: 2px 0;
  }
}
.tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #000000, $alpha: .7);
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
}
</style>