<template>
  <div class="header">
    <div class="title">当前城市 - {{city}}</div>
    <div class="search">
      <div class="input-wrap">
        <div class="icon">
          <svg t="1719450683933" class="icon-svg" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4361" width="20" height="20"><path d="M512 858.3168c-194.816 0-352-166.2464-352-370.4832S317.184 117.3504 512 117.3504s352 166.2464 352 370.4832-157.184 370.4832-352 370.4832z m0-64c158.6688 0 288-136.8576 288-306.4832 0-169.6768-129.3312-306.4832-288-306.4832S224 318.1568 224 487.8336c0 169.6256 129.3312 306.4832 288 306.4832zM717.312 799.9488a32 32 0 0 1 46.4896-43.9808l91.4432 96.7168a32 32 0 0 1-46.4896 43.9808l-91.4432-96.768z" fill="#5A5A68" p-id="4362"></path></svg>
        </div>
        <input
          type="text"
          placeholder="请输入城市名或拼音"
          v-model.trim="searchText"
          @focus="showCancel = true"
        >
        <div class="icon" v-show="searchText.length > 0" @click="searchText = ''">
          <svg t="1719450712567" class="icon-svg" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5453" width="16" height="16"><path d="M512 0C229.2992 0 0.11776 229.18144 0.11776 511.88224c0 282.69568 229.18656 511.88224 511.88224 511.88224 282.7008 0 511.88224-229.18656 511.88224-511.88224C1023.88224 229.18144 794.7008 0 512 0z m263.23968 725.72928l-49.33632 49.39264L512 561.21856l-213.90336 213.90336-49.33632-49.39264 213.888-213.8624-213.888-213.888 49.33632-49.33632L512 462.52032l213.90336-213.87776 49.33632 49.33632-213.888 213.888 213.888 213.8624z" p-id="5454"></path></svg>
        </div>
      </div>
      <div class="cancel" v-if="showCancel" @click="cancel">取消</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['city'],
  data () {
    return {
      searchText: '',
      showCancel: false
    }
  },
  watch: {
    searchText () {
      // 通知父组件 input 内容有修改，把input数据传给父组件
      this.$emit('input', this.searchText)
    }
  },
  methods: {
    cancel () {
      // 隐藏取消按钮
      this.showCancel = false
      // 通知父组件点击了取消按钮
      this.$emit('cancel')
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: 94px;
}
.title {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.search {
  display: flex;
  height: 50px;
  background: #f4f4f4;
  padding: 9.5px 15px;
}
.input-wrap {
  flex: 1;
  background: #ffffff;
  display: flex;
  input {
    flex: 1;
    border: none;
    outline: none;
    color: #2c3e50;
    &::placeholder {
      color: #dddddd;
    }
  }
  .icon {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cancel {
  margin-left: 20px;
  line-height: 30px;
  font-size: 14px;
}
</style>