<script setup lang="ts">
import { ref, watch } from 'vue'
import { showConfirmDialog, showNotify } from 'vant'
import { useRouter } from 'vue-router'
import { useAddressStore } from '@/store/address'
import { useCartStore } from '@/store/cart'

const addressStore = useAddressStore()
const router = useRouter()
const cart = useCartStore()
const checkAll = ref(false)

const del = async (id: string, count: number) => {
  if (count === 1) {
    try {
      await showConfirmDialog({
        title: '提示',
        message: '确定要删除此商品吗'
      })
      cart.changeCount(id, -1)
      showNotify('删除成功')
    } catch(e) {
      console.log('取消删除')
    }
  } else {
    cart.changeCount(id, -1)
  }
}
// 点击全选按钮
const changeAll = () => {
  cart.cartList.forEach(it => {
    it.checked = checkAll.value
  })
}

watch(() => cart.cartList, () => {
  checkAll.value = cart.cartList.every(v => v.checked)
}, {
  deep: true,
  immediate: true
})
</script>

<template>
  <div class="cart-page">
    <van-contact-card
      :type="addressStore.currentAddress ? 'edit' : 'add'"
      :tel="addressStore.currentAddress?.tel"
      :name="addressStore.currentAddress?.name"
      @click="router.push('/address/list')"
    />

    <van-empty v-if="cart.cartList.length === 0" description="购物车空空如也" />
    <div v-else class="list">
      <van-card
        v-for="goods in cart.cartList"
        :key="goods.id"
        :num="goods.count"
        :price="goods.price"
        :title="goods.name"
      >
        <template #thumb>
          <div class="thumb">
            <van-checkbox v-model="goods.checked">
              <img :src="goods.cover" alt="">
            </van-checkbox>
          </div>
        </template>
        <template #footer>
          <van-button size="mini" @click="del(goods.id, goods.count)">-</van-button>
          <van-button size="mini" @click="cart.changeCount(goods.id, 1)">+</van-button>
        </template>
      </van-card>
    </div>

  </div>

  <van-submit-bar class="submit-bar" :price="cart.total.price * 100" button-text="提交订单">
    <van-checkbox v-model="checkAll" @click="changeAll">全选</van-checkbox>
  </van-submit-bar>
</template>

<style lang='scss' scoped>
.submit-bar {
  bottom: var(--van-tabbar-height);
}
.cart-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list {
  flex: 1;
  overflow: auto;
  padding-bottom: var(--van-submit-bar-height);
}
.thumb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  img {
    width: 40px;
  }
}
</style>
