<script setup  lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { getGoodsDetailApi } from '@/services'
import type { GoodsItem } from '@/services'
import { showSuccessToast, showFailToast } from 'vant'
import { useCartStore } from '@/store/cart'

const cart = useCartStore()
const route = useRoute()
const info = ref<GoodsItem>({} as GoodsItem)

getGoodsDetailApi(route.query.id as string)
  .then(res => {
    if (res.data.code === 0) {
      info.value = res.data.info
    } else {
      showFailToast(res.data.msg)
    }
  })

const add = () => {
  cart.push(info.value)
  showSuccessToast('添加成功！')
}
</script>

<template>
  <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
    <van-swipe-item v-for="img in info.images" :key="img">
      <img :src="img" alt="">
    </van-swipe-item>
  </van-swipe>
  <h3>{{ info.name }}</h3>
  <h4>¥{{ info.price }}</h4>
  <p>{{ info.desc }}</p>
  <div class="line"></div>
  <van-action-bar>
    <van-action-bar-icon icon="chat-o" text="客服" dot />
    <van-action-bar-icon icon="cart-o" text="购物车" :badge="cart.total.count" to="/cart" />
    <van-action-bar-icon icon="shop-o" text="店铺" badge="12" />
    <van-action-bar-button type="warning" text="加入购物车" @click="add" />
    <van-action-bar-button type="danger" text="立即购买" />
  </van-action-bar>
</template>

<style lang='scss' scoped>
.line {
  height: var(--van-action-bar-height);
}
</style>
