<script setup>
import { ref } from 'vue'
import LoginForm from './components/LoginForm.vue'
import RegisterForm from './components/RegisterForm.vue'

const isLogin = ref(true)
const changeForm = () => {
  isLogin.value = !isLogin.value
}
</script>

<template>
  <div class="login">
    <LoginForm v-if="isLogin" @change="changeForm" />
    <RegisterForm v-else @change="changeForm" />
  </div>
</template>

<style lang='scss' scoped>
.login {
  width: 100vw;
  height: 100vh;
  background: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
