<script setup>
import { ref, watch } from 'vue'
import { userListApi, delApi, createApi, updateApi, exportApi } from '@/services'
import { ElMessage, ElMessageBox } from 'element-plus'
import Search from './components/Search.vue'
import UserDialog from './components/UserDialog.vue'
import * as XLSX from 'xlsx'

const visible = ref(false)
const tableData = ref([])
const selectedData = ref([])
const total = ref(0)
const params = ref({
  page: 1,
  pagesize: 5
})
const filterParams = ref({})
const editRow = ref(null)


const getList = async () => {
  const res = await userListApi({ ...params.value, ...filterParams.value })
  tableData.value = res.data.values.list
  total.value = res.data.values.total
}


watch(params, () => {
  getList()
}, {
  deep: true,
  immediate: true
})

const del = async row => {
  try {
    await ElMessageBox.confirm(
      `确定要删除 ${row.username} 吗?`,
      '提示',
      {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }
    )
    const res = await delApi(row.id)
    if (res.data.code === 0) {
      ElMessage.success('删除成功')
      getList()
    } else {
      ElMessage.error(res.data.msg)
    }
  } catch (e) {
    ElMessage.info('取消删除')
  }
}

const onSearch = (params) => {
  filterParams.value = params
  getList()
}

const createUser = async params => {
  const res = await createApi(params)
  if (res.data.code === 0) {
    ElMessage.success('创建成功')
    visible.value = false
    getList()
  } else {
    ElMessage.error(res.data.msg)
  }
}

const edit = row => {
  editRow.value = {...row}
  visible.value = true
}

const updateUser = async (params) => {
  const res = await updateApi({ ...editRow.value, ...params})
  if (res.data.code === 0) {
    ElMessage.success('修改成功')
    visible.value = false
    getList()
  } else {
    ElMessage.error(res.data.msg)
  }
}

const onSubmit = value => {
  if (editRow.value) {
    updateUser(value)
  } else {
    createUser(value)
  }
}

watch(visible, () => {
  if (!visible.value) {
    editRow.value =null
  }
})

const handleSelectionChange = (val) => {
  selectedData.value = val
}
// 前端导出excel
const feExportExcel = () => {
  const data = selectedData.value.map(item => {
    return {
      '序号': item.no,
      'id': item.id,
      '姓名': item.username,
      '年龄': item.age,
      '性别': item.sex,
      '邮箱': item.email,
      '密码': item.password
    }
  })
  console.log(data)
  const table = XLSX.utils.book_new()
  const sheet = XLSX.utils.json_to_sheet(data)
  XLSX.utils.book_append_sheet(table, sheet, 'sheet111111111')
  XLSX.writeFile(table, '表格abc.xlsx')
}

// 调用接口导出
const exportExcel = async () => {
  const ids = selectedData.value.map(v => v.id)

  const res = await exportApi(ids)
  // 读取此文件临时url
  const url = window.URL.createObjectURL(res.data)

  const a = document.createElement('a')
  a.href = url
  a.download = '表格qqqqqqqqqqqq.xlsx'
  document.body.appendChild(a)
  a.click()
  document.body.removeChild(a)

  window.URL.revokeObjectURL(url)
}

// function download(url, filename) {
//   const a = document.createElement('a')
//   a.href = url
//   a.download = filename
//   document.body.appendChild(a)
//   a.click()
//   document.body.removeChild(a)
// }





</script>

<template>
  <div class="page">
    <Search @search="onSearch" />

    <div class="toolbox">
      <el-button type="primary" @click="visible = true">新增</el-button>
      <el-button @click="exportExcel">导出</el-button>
    </div>

    <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" />
      <el-table-column fixed prop="no" label="序号" width="150" />
      <el-table-column prop="id" label="用户id" width="200" />
      <el-table-column prop="username" label="姓名" width="150" />
      <el-table-column prop="age" label="年龄" width="150" />
      <el-table-column label="性别" width="150">
        <template #default="scope">
          <el-tag>{{ scope.row.sex ? '男' : '女' }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="200" />
      <el-table-column prop="password" label="密码" width="150" />
      <el-table-column fixed="right" label="操作" min-width="200">
        <template #default="scope">
          <el-button type="primary" size="small" @click="edit(scope.row)">编辑</el-button>
          <el-button type="danger" size="small" @click="del(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      v-model:current-page="params.page"
      v-model:page-size="params.pagesize"
      :page-sizes="[5, 10, 15, 20]"
      background
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    />

    <UserDialog
      v-model="visible"
      :editInfo="editRow"
      @submit="onSubmit"
    />
  </div>
</template>

<style lang='scss' scoped>
.page {
  padding: 20px
}
.el-pagination {
  justify-content: flex-end;
  margin: 20px 0;
}
</style>
