.search {
  margin-bottom: 20px;
  :global {
    .ant-form-item {
      width: calc((100% - 32px) / 3);
      margin-bottom: 20px;
      &:nth-child(3n) {
        margin-inline-end: 0;
      }
    }
  }
}