<script setup lang="ts">
import { ref } from 'vue'
import Tab1 from './components/Tab1.vue'
import Tab2 from './components/Tab2.vue'
import Tab3 from './components/Tab3.vue'
import Tab4 from './components/Tab4.vue'
import { useAddressStore } from '@/store/address'

const addressStore = useAddressStore()

const active = ref(0)
const navList = [
  {
    title: '标签1',
    component: Tab1
  },
  {
    title: '标签2',
    component: Tab2
  },
  {
    title: '标签3',
    component: Tab3
  },
  {
    title: '标签4',
    component: Tab4
  }
]

</script>

<template>
  <div class="mall">
    <van-cell :title="addressStore.currentAddress?.address || '请选择地址'" icon="shop-o" is-link to="/address/list" />
    <van-sticky>
      <van-tabs v-model:active="active">
        <van-tab v-for="item in navList" :key="item.title" :title="item.title"></van-tab>
      </van-tabs>
    </van-sticky>
    <component :is="navList[active].component"></component>
  </div>
</template>

<style lang='scss' scoped>
.mall {
  height: 100%;
  overflow: auto;
}

</style>
