<template>
  <div class="app">
    <Header
      v-if="compareList.length > 0"
      :compareList="compareList"
      @change="changeActive"
      @handleCompare="visible = true"
    />
    <div class="content">
      <Card
        v-for="item in list"
        :key="item.title"
        :title="item.title"
        :src="item.src"
        :isActive="item.isActive"
        :price="item.price"
        @changeActive="changeActive(item)"
      />
    </div>
    <Compare
      v-if="visible"
      :compareList="compareList"
      @close="visible = false"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Header from './components/Header.vue'
import Compare from './components/Compare.vue'
import Card from './components/Card.vue'

export default {
  data() {
    return {
      list: [],
      compareList: [], // 比较列表
      visible: false
    }
  },
  methods: {
    async getList() {
      const res = await axios.get('https://zyxcl.xyz/exam_api/bottle')
      this.list = res.data.value
    },
    changeActive(item) {
      // 数量够3个并且当前点击的没有选中就不让点击
      if (this.compareList.length === 3 && !item.isActive) return

      // 给对象新增响应式属性
      this.$set(item, 'isActive', !item.isActive)
      // 判断是否选中，选中添加到头部列表，取消删除
      if (item.isActive) {
        this.compareList.push(item)
      } else {
        const index = this.compareList.findIndex(v => v.title === item.title)
        this.compareList.splice(index, 1)
      }
    }
  },
  created() {
    this.getList()
  },
  components: {
    Header,
    Compare,
    Card
  }
}
</script>

<style lang="scss" scoped>
.app {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}
</style>