<template>
  <div class="app">
    <h1>app - {{ obj.title }}</h1>
    <input type="text" v-model="obj.title">
    <button @click="obj = { title: '' }">重置obj</button>
    <Child1 />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
export default {
  data() {
    return {
      obj: {
        title: '标题'
      }
    }
  },
  provide() {
    return {
      obj: this.obj
    }
  },
  components: {
    Child1
  }
}
</script>

<style lang="scss" scoped>

</style>