<script setup lang="ts">
import { ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import axios from 'axios'
import { showSuccessToast, showFailToast } from 'vant'

const router = useRouter()
const route = useRoute()

const username = ref('')
const password = ref('')

const onSubmit = async (values) => {
  const res = await axios.post('/api/login', values)
  if (res.data.code === 0) {
    showSuccessToast('登录成功')
    localStorage.setItem('token', res.data.token)
    const redirect = decodeURIComponent(route.query.redirect || '/')
    router.push(redirect)
  } else {
    showFailToast(res.data.msg)
  }
}
</script>

<template>
  <van-form @submit="onSubmit">
    <van-field
      v-model="username"
      name="username"
      label="用户名"
      placeholder="用户名"
      :rules="[{ required: true, message: '请填写用户名' }]"
    />
    <van-field
      v-model="password"
      type="password"
      name="password"
      label="密码"
      placeholder="密码"
      :rules="[{ required: true, message: '请填写密码' }]"
    />
    <div style="margin: 16px;">
      <van-button round block type="primary" native-type="submit">提交</van-button>
    </div>
  </van-form>

</template>

<style lang='scss' scoped>

</style>
