<script>
import { ref } from 'vue'

export default {
  data () {
    return {
      title: '标题'
    }
  },
  watch: {
    title(newTitle, oldTitle) {
      console.log('title改变了', newTitle, oldTitle)
    }
  },
  computed: {
    len() {
      return this.title.length
    }
  },
  // `setup` 是一个特殊的钩子，专门用于组合式 API。
  setup() {
    const count = ref(0)
    const add = (n) => {
      console.log(count)
      count.value += n
    }
    // 把 return 的变量合并到组件中
    return {
      count,
      add
    }
  }
}
</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <p>len: {{ len }}</p>
  <p>count: {{ count }}</p>
  <button @click="count++">+</button>
  <button @click="add(-1)">-</button>
</template>

<style lang='scss'>

</style>
