<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
  }
}
</script>

<style lang="scss" scoped>
nav {
  border-bottom: 1px solid;
  a {
    text-decoration: none;
    color: #333333;
    margin: 0 10px;
  }
  .router-link-exact-active {
    background: red;
  }
}
</style>
