<script setup lang="ts">
import { ref } from 'vue'
import { showToast } from 'vant'
import { useRouter } from 'vue-router'
import { useAddressStore } from '@/store/address'
import type { Address } from '@/store/address'

const router = useRouter()
const addressStore = useAddressStore()

const onAdd = () => {
  router.push('/address/edit')
}
const onEdit = (item: Address, index: number) => {
  router.push({
    path: '/address/edit',
    query: {
      index
    }
  })
}
const onSelect = () => {
  router.back()
}

</script>

<template>
  <van-address-list
    default-tag-text="默认"
    v-model="addressStore.chosenAddressId"
    :list="addressStore.addressList"
    @add="onAdd"
    @edit="onEdit"
    @select="onSelect"
  />
</template>

<style lang='scss' scoped>

</style>
