<script setup>
import { ref, provide } from 'vue'
import Child from './Child.vue'

const count = ref(0)
const title = ref('我是小标题')

// 把变量传给所有的后代组件
provide('count', count)
provide('title', title)


</script>

<template>
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <p>count: {{ count }}</p>
    <button @click="count++">count+</button>
    <Child />
  </div>
</template>

<style lang='scss' scoped>

</style>
