<script setup>
import { ref, inject } from 'vue'


const a = inject('count')
</script>

<template>
  <div class="box">
    <h3>我是 Child2 组件</h3>
    <p>app组件的count: {{ a }}</p>
    <button @click="a++">+</button>
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
</style>
