<script setup>
import { ref } from 'vue'
import Child2 from './Child2.vue'

</script>

<template>
  <div class="box">
    <h3>我是box组件</h3>
    <Child2 />
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  color: #ffffff;
  font-size: 50px;
}
</style>
