* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
nav {
  border-bottom: 1px solid;
  padding: 20px;
  a {
    margin: 0 20px;
  }
  .active {
    background: tomato;
  }
}