<template>
  <div class="login">
    <div class="login-form">
      <h2>登录</h2>
      <div class="row">
        <span>用户名:</span>
        <input type="text" v-model="form.username" placeholder="请输入用户名">
      </div>
      <div class="row">
        <span>密码:</span>
        <input :type="showPwd ? 'text' : 'password'" v-model="form.password" placeholder="请输入密码">
        <i @click="showPwd = !showPwd">👀</i>
      </div>
      <div class="row">
        <button @click="submit">登录</button>
      </div>
      {{form}}
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showPwd: false,
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      if (this.form.username === 'admin' && this.form.password === '123') {
        alert('登录成功')
        localStorage.setItem('token', JSON.stringify(this.form))
        this.$router.push('/')
      } else {
        alert('用户名或者密码错误！')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  h2 {
    text-align: center;
  }
}
.row {
  display: flex;
  margin-top: 20px;
  position: relative;
  i {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }
  span {
    width: 100px;
    line-height: 40px;
  }
  input {
    flex: 1;
    height: 40px;
  }
  button {
    width: 100%;
    height: 40px;
  }
}
</style>