<template>
  <div class="home">
    <h2>首页</h2>
    <h3>{{ rootTitle }}</h3>
    <h4>{{ homeTitle }}</h4>
    <button @click="changeTitle(Math.random())">修改home标题</button>
    <!-- <button @click="changeHomeTitle">修改home标题</button> -->
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'HomeView',
  computed: {
    ...mapState(['title']),
    ...mapState({
      rootTitle: state => state.title,
      homeTitle: state => state.homeModule.title
    })
    // rootTitle () {
    //   return this.$store.state.title
    // },
    // homeTitle () {
    //   return this.$store.state.homeModule.title
    // }
  },
  methods: {
    // ...mapMutations(['changeTitle', 'homeModule/changeTitle']),
    ...mapMutations('homeModule', ['changeTitle']),

    changeHomeTitle () {
      // this.$store.commit('homeModule/changeTitle', Math.random())
      // this['homeModule/changeTitle'](123)
    }
  },
  created () {
    console.log(this.$store)
  }
}
</script>
