
.switch {
  width: 70px;
  text-align: center;
  p {
    width: 100%;
    height: 30px;
    background: #000000;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    span {
      width: 25px;
      height: 20px;
      display: block;
      background: blue;
      transition: transform 0.2s linear;
    }
    &.on {
      span {
        transform: translateX(35px);
      }
    }
  }
}