.controller {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 20px;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    background: #8b8b8b;
  }
}
.bar {
  width: 80%;
  margin-bottom: 20px;
}