<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { ElMessage } from 'element-plus'
import { useUserStore } from '@/stores/user'

const userStore = useUserStore()

const route = useRoute()
const router = useRouter()

const change = val => {
  console.log(val)
  if (val === 'logout') {
    localStorage.removeItem('token')
    ElMessage.success('退出成功！')
    router.push('/login')
  } else {
    router.push('/user')
  }
}

// https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png
const imgErr = () => {
  console.log('图片加载失败')
}
</script>

<template>
  <header>
    <div class="logo">logo</div>
    <el-menu
      mode="horizontal"
      class="menu"
      router
      :default-active="route.path"
    >
      <el-menu-item index="/dashboard">导航1</el-menu-item>
      <el-menu-item index="/list">导航2</el-menu-item>
      <el-menu-item index="/user">导航3</el-menu-item>
    </el-menu>
    <div class="user-info">
      <el-avatar shape="square" :size="40" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png" @error="imgErr" />
      <el-dropdown @command="change">
        <span class="username">{{ userStore.userInfo.username }}</span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="userinfo">个人中心</el-dropdown-item>
            <el-dropdown-item command="logout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </header>
  
</template>

<style lang="scss" scoped>
header {
  display: flex;
  background: #4481f6;
  padding: 0 20px;
}
.logo {
  width: 150px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}
.menu {
  flex: 1;
  border-bottom: none !important;
  background: none;
  ::v-deep .el-menu-item:hover {
    background: #3667c5;
    color: #ffffff;
  }
  ::v-deep .is-active {
    background: #ffffff;
  }
}
.user-info {
  display: flex;
  align-items: center;
  .username {
    cursor: pointer;
    color: #ffffff;
    margin-left: 10px;
  }
}
</style>
