<template>
  <div :class="['row', { active: isActive }]">
    <div class="icon" @click="$emit('update')">
      <svg v-if="isActive" t="1718845535268" class="svg-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5221" id="mx_n_1718845535270" width="28" height="28"><path d="M813.056 107.008H204.8a102.4 102.4 0 0 0-102.4 102.4V819.2a102.4 102.4 0 0 0 102.4 102.4h609.28a102.4 102.4 0 0 0 102.4-102.4V208.896a102.4 102.4 0 0 0-103.424-101.888z m-31.744 240.128L413.696 716.8a25.6 25.6 0 0 1-17.92 7.68 25.6 25.6 0 0 1-18.944-7.68L235.008 556.544a25.6 25.6 0 1 1 37.888-33.792L396.288 660.48l349.184-349.184a25.6 25.6 0 1 1 35.84 35.84z" p-id="5222" fill="#d81e06"></path></svg>
      <svg v-else t="1718845566740" class="svg-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5592" width="28" height="28"><path d="M768 128H256c-70.4 0-128 57.6-128 128v512c0 70.4 57.6 128 128 128h512c70.4 0 128-57.6 128-128V256c0-70.4-57.6-128-128-128z m64 640c0 35.2-28.8 64-64 64H256c-35.2 0-64-28.8-64-64V256c0-35.2 28.8-64 64-64h512c35.2 0 64 28.8 64 64v512z" p-id="5593"></path></svg>
    </div>
    <p>{{ text }}</p>
    <span @click="$emit('remove')">
      <svg t="1718845679244" class="close-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6682" width="20" height="20"><path d="M576 512l277.333333 277.333333-64 64-277.333333-277.333333L234.666667 853.333333 170.666667 789.333333l277.333333-277.333333L170.666667 234.666667 234.666667 170.666667l277.333333 277.333333L789.333333 170.666667 853.333333 234.666667 576 512z" fill="#444444" p-id="6683"></path></svg>
    </span>
  </div>
</template>

<script>
export default {
  props: ['isActive', 'text']
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  p {
    flex: 1;
    margin-left: 10px;
  }
  .icon, span {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.active {
  background: tomato;
  border-radius: 5px;
  color: #fff;
  .svg-icon, .close-icon {
    path {
      fill: #ffffff;
    }
  }
  p {
    text-decoration: line-through;
  }
}
</style>