<template>
  <div class="footer">
    <div class="len">{{ todoLen }}未完成</div>
    <div class="btns">
      <button
        v-for="item in curTabBtns"
        :key="item.type"
        :class="{ active: type === item.type }"
        @click="$emit('changeType', item.type)"
      >{{ item.text }}</button>
      <!-- <button :class="{ active: type === null }" @click="$emit('changeType', null)">全部</button>
      <button :class="{ active: type === true }" @click="$emit('changeType', true)" v-if="todoLen !== 0 && todoLen !== listLen">已完成</button>
      <button :class="{ active: type === false }" @click="$emit('changeType', false)" v-if="todoLen !== 0 && todoLen !== listLen">未完成</button> -->
    </div>
    <button v-if="todoLen < listLen" @click="$emit('clearDone')">清除已完成</button>
  </div>
</template>

<script>
export default {
  props: ['todoLen', 'listLen', 'type'],
  data() {
    return {
      tablist: [
        {
          text: '全部',
          type: null
        },
        {
          text: '已完成',
          type: true
        },
        {
          text: '未完成',
          type: false
        }
      ]
    }
  },
  computed: {
    curTabBtns() {
      return this.tablist.filter(v => {
        // 全部按钮一直显示
        if (v.type === null) return true
        // 其他按钮根据此条件展示
        return this.todoLen !== 0 && this.todoLen !== this.listLen
      })
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.footer {
  display: flex;
  justify-content: space-between;
}
.btns {
  display: flex;
  justify-content: center;
  button {
    margin: 0 8px;
  }
}
button {
  padding: 0 5px;
  border: none;
  &:hover, &.active {
    background: tomato;
    color: #ffffff;
    border: none;
  }
}
</style>