<template>
  <div class="header">
    <div class="title">todolist</div>
    <div class="form">
      <input ref="inp" type="text" v-model.trim="text" @keydown.enter="submit">
      <button @click="submit">submit</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: ''
    }
  },
  methods: {
    submit() {
      if (!this.text) {
        alert('输入不能为空')
        return
      }
      this.$emit('submit', this.text)
      this.text = ''
      this.$refs.inp.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  width: 100px;
  height: 40px;
  background: tomato;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  border-radius: 5% 10% 20% 10% / 5% 10% 20% 10%;
}
.form {
  margin-top: 15px;
  display: flex;
  input {
    flex: 1;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px dashed tomato;
  }
  button {
    width: 80px;
    margin-left: 10px;
  }
}
</style>