<script setup lang="ts">
import { RouterView } from 'vue-router'
import { useCartStore } from '@/store/cart'

const cart = useCartStore()
</script>

<template>
  <div class="home">
    <main>
      <RouterView />
    </main>
    <footer>
      <van-tabbar :fixed="false" route active-color="tomato">
        <van-tabbar-item to="/mall" icon="home-o">商城</van-tabbar-item>
        <van-tabbar-item to="/cart" icon="cart-o" :badge="cart.total.count">购物车</van-tabbar-item>
        <van-tabbar-item to="/mine" icon="friends-o">个人中心</van-tabbar-item>
      </van-tabbar>
    </footer>
  </div>
</template>

<style lang='scss' scoped>
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {

  }
}
</style>
