<!--pages/mine/mine.wxml-->
<text>pages/mine/mine.wxml</text>
<view>{{title}}</view>
<input type="text" model:value="{{title}}"/>
<view>name: {{form.name}}</view>
<input type="text" value="{{form.name}}" bind:input="changeName"/>
<view class="box">
  <!-- navigate: 保留当前页面，只能跳转非tabBar页面 -->
  <!-- redirect: 关闭当前页面，只能跳转非tabBar页面  -->
  <!-- switchTab: 跳转到 tabBar 页面，并关闭其他所有非 tabBar 页面  -->
  <!-- reLaunch: 关闭所有页面，打开到应用内的某个页面 -->
  <navigator open-type="reLaunch" url="/pages/index/index">首页</navigator>
  <navigator open-type="reLaunch" url="/pages/detail/detail">详情</navigator>
  <navigator target="miniProgram" open-type="exit">退出</navigator>
  
</view>
<image
  src="http://p1.music.126.net/fJisY5BzRDwIRo21kqaXtA==/109951169781491893.jpg"
  mode="widthFix"
></image>

<scroll-view class="list" bindscroll="scroll" scroll-y>
  <view class="list-item" wx:for="{{list}}">{{item}}</view>
</scroll-view>
<swiper 	indicator-dots 	indicator-color="rgba(255,255,255, 0.5)" 	indicator-active-color="#ffffff">
  <swiper-item wx:for="{{banners}}" wx:key="targetId">
    <image src="{{item.imageUrl}}" mode="widthFix" />
  </swiper-item>
</swiper>