<template>
  <div class="box">
    <h2>我是插槽</h2>
    <div class="inner">
      <slot :text="text"></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: '我是box组件 内的数据'
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
.inner {
  border: 1px solid red;
  padding: 20px;
}
</style>