<template>
  <div class="inp">
    <h2>{{ title }}</h2>
    <p>
      <button @click="$emit('update:title', Math.random())">生成随机标题</button>
    </p>

    <input type="text" :value="desc" @input="$emit('update:desc', $event.target.value)">

    <div>
      <button @click="$emit('update:age', age - 1)">-</button>
      {{age}}
      <button @click="$emit('update:age', age + 1)">+</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'age', 'desc']
}
</script>

<style lang="scss" scoped>
.inp {
  border: 1px solid;
  padding: 20px;
}
button {
  padding: 0 10px;
}
</style>