<template>
  <div>
    {{info}}
  </div>
</template>

<script>
import { urlType } from '../constant'
import axios from 'axios'

export default {
  data () {
    return {
      info: {}
    }
  },
  async created () {
    const id = this.$route.query.id
    const url = urlType[this.$route.query.type]

    const res = await axios.get(url)
    this.info = res.data.items.find(v => v.item_id === Number(id))
  }
}
</script>

<style>

</style>