<template>
  <div :class="{ grid: isGrid }">
    <div
      v-for="item in sortList"
      :key="item.item_id"
      class="card"
      @click="goDetail(item.item_id)"
    >
      <img :src="item.img" alt="">
      <div class="info">
        <h3>{{item.title}}</h3>
        <p>{{item.price}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { urlType } from '../constant'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      list: []
    }
  },
  computed: {
    ...mapState(['isGrid', 'sortType']),
    sortList () {
      if (this.sortType === 0) return this.list
      const list = [...this.list]
      list.sort((a, b) => {
        if (this.sortType === 1) {
          return a.price - b.price
        } else {
          return b.price - a.price
        }
      })
      return list
    }
  },
  watch: {
    $route: {
      handler () {
        const type = this.$route.params.type
        if (!urlType[type]) {
          return this.$router.push('/404')
        }
        this.getList(urlType[type])
      },
      immediate: true
    }
  },
  methods: {
    async getList (url) {
      const res = await axios.get(url)
      this.list = res.data.items
    },
    goDetail (id) {
      this.$router.push({
        path: '/detail',
        query: {
          id,
          type: this.$route.params.type
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
  vertical-align: middle;
}
.card {
  display: flex;
  border-bottom: 1px solid;
  background: #ffffff;
  img {
    width: 150px;
  }
  .info {
    flex: 1;
    p {
      color: red;
      font-weight: bold;
    }
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #cccccc;
  .card {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
}
</style>