<template>
  <div class="home">
    <router-link to="/search">搜索</router-link>
    <nav>
      <router-link to="/home/zh">综合</router-link>
      <router-link to="/home/xl">销量</router-link>
      <router-link to="/home/sx">上新</router-link>
      <p class="sort" @click="changeSort">
        排序
        <span>
          <i :class="['icon', { red: sortType === 1 }]"></i>
          <i :class="['icon', 'down', { red: sortType === 2 }]"></i>
        </span>
      </p>
      <p @click="changeGrid">{{ isGrid ? '网格' : '列表' }}</p>
    </nav>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['isGrid', 'sortType'])
  },
  methods: {
    ...mapMutations(['changeGrid', 'changeSort'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 50px;
    border-bottom: 1px solid;
    display: flex;
    p {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    a.router-link-active {
      background: red;
      color: #ffffff;
    }
  }
  main {
    flex: 1;
    overflow: auto;
  }
}
.sort {
  display: flex;
  justify-content: center;
  span {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  i {
    width: 16px;
    height: 16px;
    background: url(../assets/sj.png) no-repeat;
    &.down {
      transform: rotate(180deg);
    }
    &.red {
      background-image: url(../assets/sj1.png);
    }
  }
}
</style>