<template>
  <div>
    <div class="search">
      <input type="text" v-model.trim="searchText">
    </div>
    <ul>
      <li v-for="item in filterList" :key="item.item_id">
        {{item.title}}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      searchText: '',
      allList: []
    }
  },
  computed: {
    filterList () {
      if (this.searchText === '') return []
      return this.allList.filter(val => {
        return val.title.includes(this.searchText)
      })
    }
  },
  async created () {
    const res = await Promise.all([
      axios.get('http://zyxcl.xyz/exam_api/zh'), // 1
      axios.get('http://zyxcl.xyz/exam_api/xl'), // 2
      axios.get('http://zyxcl.xyz/exam_api/sx') // 3
    ])
    const allList = []
    res.forEach(val => {
      allList.push(...val.data.items)
    })

    //  去重
    this.allList = allList.reduce((prev, cur) => {
      if (!prev.find(v => v.item_id === cur.item_id)) {
        prev.push(cur)
      }
      return prev
    }, [])
  }
}
</script>

<style scoped>
li {
  border-bottom: 1px dashed;
}
</style>