<template>
  <div class="dialog" v-show="visible" @click.self="$emit('close')">
    <div class="content">
      <div class="title">
        <b>{{ title }}</b>
        <span v-if="showClose" @click="$emit('close')">x</span>
      </div>
      <div class="center">
        <!-- 插槽: 占位，组件调用时会把双标签内的元素展示到此位置 -->
        <!-- <slot></slot> -->
        <!-- <slot name="default"></slot> -->
        <!-- 作用域插槽：把组件内的变量传给调用时的插槽 -->
        <slot :arr="arr" :url="url" b="bbb" :c="123"></slot>
      </div>
      <div class="footer">
        <!-- 具名插槽 -->
        <slot name="footer" aa="AAAA">
          <button>确定</button>
          <button>取消</button>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: ['visible', 'title', 'showClose']
  props: {
    // visible: Boolean, // 校验参数类型
    visible: {
      type: Boolean,
      required: true // 必传属性
    },
    title: {
      type: String, // 参数类型
      default: '默认标题' // 默认值
    },
    showClose: {
      type: Boolean,
      default: true
    },
    info: {
      type: Object,
      default() {
        // 如果默认值是对象或数组，必须使用一个函数 return 默认值，防止组件复用时互相影响
        return { a: 100 }
      }
    },
    // test: {
    //   // 自定义校验
    //   validator: function (value) {
    //     return ['success', 'warning', 'danger'].includes(value)
    //   }
    // }
  },
  data() {
    return {
      arr: [1,2,3,4,5,6],
      url: 'https://www.baidu.com'
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .4);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  min-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  span {
    cursor: pointer;
  }
}
.center {
  flex: 1;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.footer {
  height: 60px;
}
</style>