<script setup>
import { ref, reactive, watch } from 'vue'
// const list = ref([1,2,4,5,6])
const list = reactive([1,2,4,5,6])


watch(list, () => {
  console.log('list改变了', list)
})
</script>

<template>
  <button @click="list.push(Math.random())">添加</button>
  <button @click="list.splice(0, 1)">删除</button>
  <button @click="list = []">list赋值</button>
  <ul>
    <li v-for="item in list" :key="item">{{ item }}</li>
  </ul>
</template>

<style lang='scss' scoped>

</style>
