<template>
  <div>
    <h1>登录页面</h1>
    <button @click="login">登录</button>
  </div>
</template>

<script>
function delay () {
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve('我是token')
    }, 2000)
  })
}
export default {
  methods: {
    async login () {
      const token = await delay()
      localStorage.setItem('token', token)
      console.log('登录成功', this.$route.query.redirect)
      const redirect = this.$route.query.redirect || '/'
      this.$router.replace(redirect)
    }
  }
}
</script>

<style>

</style>
