<template>
  <div class="app">
    <nav>
      <router-link replace to="/home">首页</router-link>
      <router-link replace to="/detail">详情</router-link>
      <router-link replace to="/login">登录</router-link>
      <router-link replace to="/search">搜索</router-link>
      <button @click="goHome">跳转到首页</button>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    goHome () {
      // this.$router: 路由实例对象
      this.$router.push('/home') // 追加记录
      // this.$router.replace('/home') // 替换记录
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  border-bottom: 1px solid;
  a {
    text-decoration: none;
    color: #333333;
    margin: 0 10px;
  }
  .router-link-exact-active {
    background: red;
  }
}
</style>
