* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
li {
  list-style-type: none;
}
.box {
  border: 1px solid;
  padding: 20px;
}
img {
  width: 100%;
}
button {
  padding: 0 10px;
}