<template>
  <nav>
    <span
      v-for="(item, index) in list"
      :key="item.singer"
      :class="{ active: curIndex === index }"
      @click="$emit('change', index)"
    >{{ item.singer }}</span>
  </nav>
</template>

<script>
export default {
  props: ['list', 'curIndex']
}
</script>

<style lang="scss" scoped>
nav {
  width: 300px;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid;
    cursor: pointer;
    &.active {
      background: red;
    }
  }
}
</style>