.card {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: rgba($color: #000000, $alpha: .5);
  display: flex;
  flex-direction: column;
}
.title {
  height: 50px;
  display: flex;
  text-align: center;
  line-height: 50px;
  b {
    flex: 1;
    color: #ffffff;
    background: skyblue;
  }
  span {
    flex: 1;
    background: #dddddd;
    color: tomato;
  }
}
.no {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  span {
    width: 32px;
    height: 32px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .active {
    background: skyblue;
  }
  .err {
    background: red;
  }
}