<template>
  <div class="movie">
    <nav>
      <router-link replace to="/home/movie/hot">正在热映</router-link>
      <router-link replace to="/home/movie/coming">即将上映</router-link>
    </nav>
    <div class="list">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.movie {
  height: 100%;
  overflow: auto;
  nav {
    height: 50px;
    background: #dddddd;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .router-link-active {
      background: red;
    }
  }
}
</style>
