<template>
  <div>
    <div class="film" v-for="item in list" :key="item.filmId">
      <h3>{{item.name}}</h3>
      <img :src="item.poster" alt="">
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const types = ['hot', 'coming']

export default {
  name: 'movieList',
  data () {
    return {
      list: []
    }
  },
  watch: {
    $route: {
      handler () {
        console.log('路由改变了', this.$route.params.type)
        if (!types.includes(this.$route.params.type)) {
          this.$router.push('/404')
        }
        // 根据 type 调用不同的接口
        const type = this.$route.params.type === 'hot' ? 1 : 2
        this.getList(type)
      },
      immediate: true
    }
  },
  methods: {
    async getList (type) {
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: 440300,
          pageNum: 1,
          pageSize: 10,
          type,
          k: 1703132
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.list = res.data.data.films
    }
  },
  created () {
  }
}
</script>

<style lang="scss" scoped>
.film {
  img {
    width: 100px;
  }
}
</style>
