<template>
  <div class="login">
    <el-card class="login-form" shadow="hover">
      <el-form :model="form" :rules="rules" ref="myForm">
        <el-form-item prop="username">
          <el-input prefix-icon="el-icon-user" v-model="form.username" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input v-model="form.password" show-password placeholder="请输入密码">
            <i slot="prefix">aaa</i>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button style="width: 100%" type="primary" @click="submit">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  data () {
    const validPass = (rule, value, callback) => {
      console.log('执行了校验函数')
      if (value.includes('123')) {
        callback()
      } else {
        callback(new Error('密码必须包含123!'))
      }
    }
    return {
      showPwd: false,
      form: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        password: [
          // { required: true, message: '请输入密码', trigger: 'blur' },
          // { pattern: /^abc/, message: '格式错误', trigger: 'change' }
          // 使用函数校验
          { validator: validPass, trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    submit () {
      // 使用form组件提供的方法校验表单
      console.log(this.$refs.myForm)
      this.$refs.myForm.validate((valid, errValue) => {
        // console.log(valid, errValue)
        if (valid) {
          // 校验成功
          if (this.form.username === 'admin' && this.form.password === '123') {
            alert('登录成功')
            localStorage.setItem('token', JSON.stringify(this.form))
            this.$router.push('/')
          } else {
            alert('用户名或者密码错误！')
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 400px;
}
// .login-form {
//   background: #ffffff;
//   border-radius: 5px;
//   padding: 20px;
//   width: 400px;
//   h2 {
//     text-align: center;
//   }
// }
// .row {
//   display: flex;
//   margin-top: 20px;
//   position: relative;
//   i {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 20px;
//     height: 40px;
//     line-height: 40px;
//     cursor: pointer;
//   }
//   span {
//     width: 100px;
//     line-height: 40px;
//   }
//   input {
//     flex: 1;
//     height: 40px;
//   }
//   button {
//     width: 100%;
//     height: 40px;
//   }
// }

.login {
  // 如果在scropd中想要修改UI组件内部的样式需要同时“样式穿透”
  ::v-deep .el-card__body {
    // padding: 0;
    // background: tomato;
  }
}
</style>