.wrap {
  height: 100%;
  overflow: auto;
  ul {
    padding: 0 20px;
    li {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        height: 14px;
        margin-left: 5px;
      }
      &.hl span {
        color: tomato;
      }
    }
  }
  ol {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    li {
      padding: 5px 15px;
      border-radius: 20px;
      background: #eeeeee;
      font-size: 12px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
.title {
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}