<script setup  lang="ts">
import { ref, computed } from 'vue'
import { showToast, showConfirmDialog } from 'vant'
import { useRouter, useRoute } from 'vue-router'
import { useAddressStore } from '@/store/address'
import { areaList } from '@vant/area-data'
import { getSuggestionApi } from '@/services'
import type {
  PickerOption,
  AddressEditSearchItem,
  AddressEditInfo
} from 'vant'

const router = useRouter()
const route = useRoute()
const addressStore = useAddressStore()
// 路由传入的下标
const editIndex = Number(route.query.index)
// 根据下标去store中查找数据
const curEditInfo = computed(() => {
  const cur = addressStore.addressList[editIndex]
  if (cur) {
    return {
      ...cur,
      addressDetail: cur.address
    }
  }
  return
})


// 详细地址搜索结果
const searchResult = ref<AddressEditSearchItem[]>([])

const onSave = (info: AddressEditInfo) => {
  if (!!curEditInfo.value) {
    addressStore.addressList.splice(editIndex, 1, {
      ...info,
      address: info.addressDetail,
      id: addressStore.addressList[editIndex].id
    })
    showToast('保存成功')
    router.back()
  } else {
    // 新增地址
    addressStore.addAddress({
      ...info,
      address: info.addressDetail
    })
    showToast('添加成功')
    router.back()
  }
}
const onDelete = async () => {
  await showConfirmDialog({
    title: '提示',
    message: '确定要删除此地址吗？'
  })
  addressStore.addressList.splice(editIndex, 1)
  showToast('删除成功！')
  router.back()

}
// 详细地址输入
const onChangeDetail = async (val: string) => {
  if (val) {
    const res = await getSuggestionApi({
      query: val,
      region: '北京'
    })
    // 调用地图接口
    searchResult.value = res.data.result;
  } else {
    searchResult.value = [];
  }
}
// 选择地区
const onChangeArea = (selectedOptions: PickerOption[]) => {
  console.log(selectedOptions)
}
</script>

<template>
  <van-address-edit
    :area-list="areaList"
    :show-delete="!!curEditInfo"
    :save-button-text="!!curEditInfo ? '保存' : '新增'"
    :address-info="curEditInfo"
    show-set-default
    show-search-result
    :search-result="searchResult"
    :area-columns-placeholder="['请选择', '请选择', '请选择']"
    @save="onSave"
    @delete="onDelete"
    @change-detail="onChangeDetail"
    @change-area="onChangeArea"
  />
</template>

<style lang='scss' scoped>

</style>
