<script setup>
import { ref, provide, onMounted, onBeforeUnmount } from 'vue'
import Child from './Child.vue'
import { usePos } from './hooks/usePos'

const count = ref(0)
const title = ref('我是小标题')

const pos = usePos()

</script>

<template>
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <p>count: {{ count }}</p>
    <button @click="count++">count+</button>
    {{ pos }}
    <hr />
    <Child />
  </div>
</template>

<style lang='scss' scoped>

</style>
