<script setup>
import { ref, inject } from 'vue'
import { usePos } from './hooks/usePos'

const boxRef = ref(null)

const pos = usePos(boxRef)

</script>

<template>
  <div class="box" ref="boxRef">
    <h3>我是 Child2 组件</h3>
    <p>app组件的count: {{ a }}</p>
    <button @click="a++">+</button>
    {{ pos }}
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
</style>
