<script setup>
import { ref } from 'vue'
import Child2 from './Child2.vue'
import { useCount } from './hooks/useCount'

const { count, start, stop } = useCount(10)

</script>

<template>
  <div class="box">
    <h3>我是box组件</h3>
    <p>count: {{ count }}</p>
    <button @click="start">开始</button>
    <button @click="stop">停止</button>

    <Child2 />
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  color: #ffffff;
  font-size: 50px;
}
</style>
