<template>
  <div>
    <!-- <Box>
      <template v-slot:default="obj">
        <button>按钮 {{ obj.text }}</button>
      </template>
    </Box>
    <Box>
      <input type="text">
    </Box>
    <Box>
      <ul>
        <li>1111</li>
        <li>2222</li>
      </ul>
    </Box> -->

  <!-- <Box v-model="a" />
  <Box :value="a" @input="e => a = e" /> -->

<!-- 
  <InputCounter
    :title="obj.title"
    :age="obj.age"
    :desc="obj.desc"
    @update:title="obj.title = $event"
    @update:age="obj.age = $event"
    @update:desc="obj.desc = $event"
  /> -->

  <InputCounter
    :title.sync="obj.title"
    :age.sync="obj.age"
    :desc.sync="obj.desc"
  />
  {{ obj }}

  </div> 
</template>

<script>
import Box from './components/Box.vue'
import InputCounter from './components/InputCounter.vue'

export default {
  data() {
    return {
      a: 123,
      obj: {
        title: '我是obj的标题',
        age: 22,
        desc: '我是一个简介'
      }
    }
  },
  methods: {
  },
  components: {
    Box,
    InputCounter
  }
}
</script>

<style>

</style>