<template>
  <div class="box">
    <h2>list 组件</h2>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
    <p>定时器：{{ num }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arr: ['a', 'b', 'c', 'd'],
      num: 0
    }
  },
  // created() {
  //   console.log('创建list组件')
  //   this.timer = setInterval(() => {
  //     this.num++
  //     console.log(this.num)
  //   }, 1000)
  // },
  // beforeDestroy() {
  //   console.log('list组件销毁前')
  //   clearInterval(this.timer)
  // }
  // activated， deactivated 被keep-alive包裹的组件特有的生命周期
  activated() {
    console.log('显示list组件')
    this.timer = setInterval(() => {
      this.num++
      console.log(this.num)
    }, 1000)
  },
  deactivated() {
    console.log('隐藏list组件')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
.inner {
  border: 1px solid red;
  padding: 20px;
}
</style>