<template>
  <div class="header">
    <div class="user-info"></div>
    <nav>
      <router-link
        v-for="(item, index) in navlist"
        :key="item.path"
        :to="item.path"
      >
        {{ item.text }}
        <span @click.prevent="del(index)">x</span>
      </router-link>
    </nav>
  </div>
</template>

<script>
import menuList from './menu'

export default {
  data () {
    return {
      navlist: []
    }
  },
  watch: {
    $route: {
      handler () {
        // 使用当前地址从所有菜单中查找
        menuList.forEach(item => {
          item.children.forEach(val => {
            if (this.$route.path === val.path) {
              // 添加时判断当前导航中是否已经存在此导航
              if (!this.navlist.find(v => v.path === val.path)) {
                this.navlist.push(val)
              }
            }
          })
        })
      },
      immediate: true
    }
  },
  methods: {
    del (index) {
      // 判断要删除的是不是当前选中的
      if (this.navlist[index].path === this.$route.path) {
        // 如果当前不是最后一个，就跳转到下一个
        if (index < this.navlist.length - 1) {
          this.$router.push(this.navlist[index + 1].path)
        } else { // 当前的位置在最后一个
          // 只剩下一个了
          if (index === 0) {
            this.$router.push('/login')
            localStorage.removeItem('token')
          } else {
            this.$router.push(this.navlist[index - 1].path)
          }
        }
      }
      this.navlist.splice(index, 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: 150px;
  background: #cccccc;
  display: flex;
  flex-direction: column;
  nav {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      line-height: 50px;
      margin: 0 10px;
      padding: 0 20px;
      background: #ffffff;
      &.router-link-active {
        background: tomato;
      }
    }
    span {
      background: green;
      padding: 0 5px;
      &:hover {
        background: blue;
        color: #ffffff;
      }
    }
  }
  .user-info {
    flex: 1;
  }
}
</style>