<template>
  <div class="menu">
    <div class="tab-title">
      <p
        v-for="(item, index) in tablist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >{{ item.title }}</p>
    </div>
    <div class="tab-list">
      <h2>{{ title }}</h2>
      <ul>
        <li
          v-for="item in tablist[curIndex].children"
          :key="item.path"
        >
          <router-link :to="item.path">{{ item.text }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import menuList from './menu'
export default {
  data () {
    return {
      title: '',
      curIndex: 0,
      tablist: menuList
    }
  },
  watch: {
    $route: {
      handler () {
        this.tablist.forEach((item, index) => {
          item.children.forEach(val => {
            // 遍历导航，根据当前地址去所有导航中查找
            if (this.$route.path === val.path) {
              this.title = val.text
              // 修改父级高亮下标
              this.curIndex = index
            }
          })
        })
      },
      immediate: true
    }
  },
  methods: {
    changeTab (index) {
      this.curIndex = index
      // tab切换时自动跳转到第一个子元素
      this.$router.push(this.tablist[index].children[0].path)
    }
  }
}
</script>

<style lang="scss" scoped>
.menu {
  width: 250px;
  background: blueviolet;
  display: flex;
}
.tab-title {
  width: 100px;
  padding-top: 100px;
  p {
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    &.active {
      background: blue;
      color: #ffffff;
    }
  }
}
.tab-list {
  width: 150px;
  background: blue;
  h2 {
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  ul {
    a {
      display: block;
      text-decoration: none;
      color: #000000;
      line-height: 40px;
      text-align: center;
      &.router-link-active {
        color: #ffffff;
        background: tomato;
      }
    }
  }
}
</style>