<script setup>
import { ref, nextTick } from 'vue'
const title = ref('我是标题')
const titleRef = ref(null)

const changeTitle = () => {
  title.value = Math.random()
  nextTick(() => {
    console.log('dom渲染完成之后执行', titleRef.value.outerHTML)
  })

  // 使用ref获取dom元素
  // console.log(titleRef.value)
  // // setup 中 this 指向 undefined
  // console.log(this)
}
</script>


<template>
  <h1 ref="titleRef">{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="changeTitle">修改标题</button>
</template>

<style lang='scss'>

</style>
