* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background-image: linear-gradient(to left bottom, #F2B2BF, #E3B598);
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}