.question {
  border-bottom: 4px solid #cccccc;
  padding: 20px;
  h3 {
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: skyblue;
      text-align: center;
      line-height: 40px;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
  ul {
    padding-left: 50px;
    li {
      line-height: 40px;
    }
    input {
      margin-right: 10px;
    }
    label, input {
      cursor: pointer;
    }
  }
}