<template>
  <div class="app">
    <h2>组件</h2>
    <ButtonCounter title="测试标题" bgColor="skyblue" />
    <ButtonCounter
      v-for="item in arr"
      :key="item.title"
      :title="item.title"
      :bgColor="item.color"
    />
  </div>
</template>

<script>
// 引入组件
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  name: 'App',
  data() {
    return {
      arr: [
        { title: '第一个', color: 'red' },
        { title: '第222个', color: 'green' },
        { title: '333333', color: 'blue' }
      ]
    }
  },
  methods: {
    add() {
      this.num++
    }
  },
  watch: {
    num() {
      console.log('num改变了', this.num)
    }
  },
  created() {
    // setInterval(() => {
    //   this.num++
    // }, 1000)
  },
  components: {
    // 注册组件
    ButtonCounter
  }
}
</script>

<style lang="scss">
body {
  background: #ffffff;
}

</style>
