<script setup>
import {
  ref,
  reactive,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted
} from 'vue'
const title = ref('我是标题')
const obj = reactive({ name: '小明' })

const changeObj = () => {
  obj.name = Math.random() + ''
}

onMounted(() => {
  console.log('组件渲染成功', document.querySelector('h1'))
})

onMounted(() => {
  console.log('组件渲染成功11111111')
})


onMounted(() => {
  console.log('组件渲染成功2222222')
})





</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <hr />
  <button @click="changeObj">修改对象</button>
  <p>{{ obj }}</p>
</template>

<style lang='scss'>

</style>
