nav {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  display: flex;
}
nav span {
  flex: 1;
  text-align: center;
}
nav .active {
  background: tomato;
}
.box {
  border: 1px solid red;
  padding: 20px;
}