<script setup>
import { ref } from 'vue'
import Child from './Child.vue'

const count = ref(0)
const title = ref('我是小标题')
</script>

<template>
  <div class="app">
    <h1>app组件</h1>
    <p>count: {{ count }}</p>
    <Child />
  </div>
</template>

<style lang='scss' scoped>

</style>
