<script setup>
import { ref } from 'vue'
const show = ref(false)

</script>

<template>
  <div class="box">
    <h3>我是box组件</h3>
    <button @click="show = !show">切换</button>
    <Teleport to="#app">
      <!-- 把此元素渲染到 #app 元素内 -->
      <div class="dialog" v-if="show" @click="show = false">
        弹窗
      </div>
    </Teleport>
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  color: #ffffff;
  font-size: 50px;
}
</style>
