
.keyboard {
  flex: 6;
  padding: 40px;
  ul {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    li {
      width: calc((100% - 20px) / 3);
      height: calc((100% - 20px) / 3);
      background: #8b8b8b;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: 3px 3px 5px #000000;
      user-select: none;
      cursor: pointer;
      &.active {
        box-shadow: none;
      }
      &.orange {
        background: #ffae02;
      }
    }
  }
}