.wrap {
  height: 100%;
  overflow: auto;
  li {
    line-height: 40px;
    border-bottom: 1px solid #dddddd;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}