* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  color: #ffffff;
}
#root {
  height: 100vh;
}
.home {
  height: 100%;
  display: flex;
}
.menu {
  width: 250px;
  background: blueviolet;
  display: flex;
  .menu-tab {
    width: 100px;
    background: blue;
    padding-top: 100px;
    p {
      line-height: 100px;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      &.active {
        background: tomato;
      }
    }
  }
  .menu-con {
    flex: 1;
    h3 {
      height: 100px;
      border-bottom: 1px solid;
      text-align: center;
      line-height: 100px;
    }
    li {
      text-align: center;
      line-height: 40px;
      a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        &.active {
          background: tomato;
        }
      }
    }
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
  height: 150px;
  border-bottom: 1px solid;
  a {
    margin: 0 15px;
    &.active {
      background: tomato;
    }
  }
  span {
    padding: 0 10px;
    background: #cccccc;
  }
}
.content {
  padding: 20px;
  background: #dddddd;
  flex: 1;
  overflow: auto;
}
