<template>
  <div class="search">
    <SearchHeader
      :city="curCity"
      @input="onInput"
      @cancel="showResult = false"
    />
    <div class="list-wrap">
      <SearchResult v-if="showResult" :list="resultList" @change="changeCity" />
      <CityList v-else :list="renderList" @change="changeCity" />
    </div>
  </div>
</template>

<script>
import SearchHeader from './components/SearchHeader.vue'
import CityList from './components/CityList.vue'
import SearchResult from './components/SearchResult.vue'
import axios from 'axios'
import { getLocation } from '@/utils'
export default {
  data () {
    return {
      originList: [], // 源数据
      renderList: [], // 渲染楼层的数据
      showResult: false,
      curSearchText: '', // 当前搜索框内容
      curCity: localStorage.getItem('curCity') // 当前城市
    }
  },
  components: {
    SearchHeader,
    CityList,
    SearchResult
  },
  computed: {
    resultList () {
      // 根据搜索内容去原数据中筛选
      if (this.curSearchText.length === 0) {
        return []
      }
      return this.originList.filter(item => {
        return item.name.includes(this.curSearchText) || item.pinyin.includes(this.curSearchText)
      })
    }
  },
  methods: {
    format (array) {
      const res = []
      const hotCity = {
        type: 'hot',
        children: []
      }
      array.forEach(item => {
        // 获取当前城市的首字母
        const firstLetter = item.pinyin[0].toUpperCase()
        // 根据首字母去res中查找是否存在此首字母开头的对象
        const cur = res.find(v => v.type === firstLetter)
        if (cur) {
          // 如果存在就把当前城市添加到children中
          cur.children.push(item)
        } else {
          // 不存在就给res添加新类型
          res.push({
            type: firstLetter,
            children: [item]
          })
        }
        // 判断热门城市
        if (item.isHot) {
          hotCity.children.push(item)
        }
      })
      res.sort((a, b) => {
        return a.type.charCodeAt() - b.type.charCodeAt()
      })
      res.unshift(hotCity)
      return res
    },
    onInput (text) {
      // 头部搜索组件输入内容，展示筛选结果，接收子组件 input 框内容
      this.showResult = true
      console.log(text)
      this.curSearchText = text
    },
    changeCity (city, cityId) {
      this.curCity = city
      localStorage.setItem('curCity', city)
      localStorage.setItem('cityId', cityId)
      this.$router.back()
    },
    async getCityList () {
      const res = await axios.get('https://m.maizuo.com/gateway?k=8399606', {
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
          'X-Host': 'mall.film-ticket.city.list'
        }
      })
      if (res.data.status === 0) {
        this.originList = res.data.data.cities
        this.renderList = this.format(res.data.data.cities)
      } else {
        alert(res.data.msg)
      }
    },
    // 调用百度地图接口获取当前城市信息
    async getCity (latitude, longitude) {
      const res = await axios.get('/zyx/reverse_geocoding/v3/', {
        params: {
          ak: 'nqdUuCXZg7BNjuKReZHTsWbc0L28hYrF',
          output: 'json',
          coordtype: 'wgs84ll',
          location: [latitude, longitude].join(',')
        }
      })
      // 把获取到的信息展示到页面，存到浏览器
      this.curCity = res.data.result.addressComponent.city
      localStorage.setItem('curCity', this.curCity)
    },
    async getPos () {
      // 获取定位
      getLocation()
        .then(async pos => {
          console.log('获取位置成功', pos)
          this.getCity(pos.latitude, pos.longitude)
        })
        .catch(e => {
          console.log('获取定位失败', JSON.stringify(e))
        })
    }
  },
  created () {
    this.getCityList()
    this.getPos()
  }
}
// const arr = [
//   {
//     type: 'A',
//     children: [
//       { name: '鞍山' },
//       { name: '安阳' }
//     ]
//   },
//   {
//     type: 'B',
//     children: [
//       { name: '北京' },
//       { name: '保定' }
//     ]
//   }
// ]
</script>

<style lang="scss" scoped>
.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list-wrap {
  flex: 1;
  overflow: hidden;
}
</style>