<template>
  <div class="btn-wrap" :style="{ background: bgColor }">
    <h3>{{ title }}</h3>
    <button @click="clickCount">点击次数: {{ count }}</button>
    <button @click="$emit('changeCount', -1)">-1</button>
    <button @click="$emit('changeCount', 2)">+2</button>
  </div>
</template>

<script>
export default {
  // 接收父组件传入的参数
  // 注意：子组件不能修改父组件传入的变量，组件中的变量只能在定义的组件内修改 
  props: ['title', 'bgColor', 'count'],
  data() {
    return {
    }
  },
  methods: {
    clickCount() {
      // 调用自定义事件
      this.$emit('addFn')
    }
  },
  created() {
    console.log(this.count, this.title)
  }
}
</script>

<style lang="scss" scoped>
// scoped：样式隔离，让样式只在当前组件内生效
// 原理：给组件内的标签添加 data-v-xxx 自定义属性，通过属性选择器添加样式
.btn-wrap {
  border: 1px solid;
  padding: 10px;
}
button {
  background: tomato;
  color: #ffffff;
}
</style>