<template>
  <div style="width: 100%">
    <el-table :data="tableData" border stripe style="width: 100%" height="250">
      <el-table-column prop="date" label="日期" fixed width="180"></el-table-column>
      <el-table-column label="姓名" width="500">
        <template slot-scope="scope">
          <b>{{scope.$index}} - {{ scope.row.name }}</b>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="地址"  width="500"></el-table-column>
      <el-table-column label="爱好"  width="180">
        <template slot-scope="scope">
          <el-tag v-for="item in scope.row.hobby" :key="item">{{ item }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作"  width="180" fixed="right">
        <template slot-scope="scope">
          <el-button size="mini">编辑</el-button>
          <el-button size="mini" type="danger" @click="del(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      tableData: [{
        date: '2016-05-02',
        name: '王小虎11',
        address: '上海市',
        hobby: ['唱歌', '跳舞', 'rap']
      }, {
        date: '2016-05-04',
        name: '王小虎22',
        address: '北京 1517 弄',
        hobby: ['跳舞', 'rap']
      }, {
        date: '2016-05-01',
        name: '王小虎33',
        address: '深圳 1519 弄',
        hobby: ['唱歌', '篮球']
      }, {
        date: '2016-05-03',
        name: '王小虎44',
        address: '上海市普陀区金沙江路 1516 弄',
        hobby: ['唱歌', '跳舞']
      }, {
        date: '2016-05-02',
        name: '王小虎55',
        address: '上海市',
        hobby: ['唱歌', '跳舞', 'rap']
      }, {
        date: '2016-05-04',
        name: '王小虎66',
        address: '北京 1517 弄',
        hobby: ['跳舞', 'rap']
      }, {
        date: '2016-05-01',
        name: '王小虎77',
        address: '深圳 1519 弄',
        hobby: ['唱歌', '篮球']
      }, {
        date: '2016-05-03',
        name: '王小虎88',
        address: '上海市普陀区金沙江路 1516 弄',
        hobby: ['唱歌', '跳舞']
      }]
    }
  },
  methods: {
    del (index, row) {
      this.$confirm(`此操作将永久删除 ${row.name}, 是否继续?`, '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.tableData.splice(index, 1)
        this.$message({
          type: 'success',
          message: '删除成功!'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style>

</style>