<template>
  <div class="home">
    <Menu />
    <main>
      <Header />
      <div class="content">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Header from './components/Header.vue'

export default {
  components: {
    Menu,
    Header
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  main {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.content {
  flex: 1;
  padding: 20px;
  overflow: hidden;
}
</style>