<template>
  <div class="child">
    <h2>Child2 组件 - {{title}}</h2>
    <button @click="num++">{{ num }}</button>
    <p>parentNum: {{ parentNum }}</p>
    <button @click="addParent">调用父组件函数</button>
  </div>
</template>

<script>

export default {
  props: ['parentNum'],
  data() {
    return {
      num: 0,
      title: '标题'
    }
  },
  methods: {
    changeTitle(title) {
      this.title = title
    },
    addParent() {
      // this.$parent获取父组件组件实例
      console.log(this.$parent.addChild1Num(3))
    }
  },
  beforeCreate() {
    console.log('%c child2 beforeCreate', 'color: green; font-size: 20px')
  },
  created() {
    console.log('%c child2 created', 'color: green; font-size: 20px')
  },
  beforeMount() {
    console.log('%c child2 beforeMount', 'color: green; font-size: 20px')
  },
  mounted() {
    console.log('%c child2 mounted', 'color: green; font-size: 20px')
  },
  beforeUpdate() {
    console.log('%c child2 beforeUpdate', 'color: green; font-size: 20px')
  },
  updated() {
    console.log('%c child2 updated', 'color: green; font-size: 20px')
  },
  beforeDestroy() {
    console.log('%c child2 beforeDestroy', 'color: green; font-size: 20px')
  },
  destroyed() {
    console.log('%c child2 destroyed', 'color: green; font-size: 20px')
  },
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>