* {
  margin: 0;
  padding: 0;
}
table {
  border: 1px solid;
  border-collapse: collapse;
  th {
    background: tomato;
  }
  td, th {
    border: 1px solid;
    padding: 0 20px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  button, p {
    height: 30px;
    margin-right: 10px;
  }
  .active {
    background: tomato;
  }
}
.btns {
  max-width: 600px;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .4);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: none;
}
.dialog-content {
  background: #ffffff;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show {
  display: block;
}
