<template>
  <div class="child">
    <h2>Child2 组件</h2>
    <button @click="num++">{{ num }}</button>
    <p>parentNum: {{ parentNum }}</p>
  </div>
</template>

<script>

export default {
  props: ['parentNum'],
  data() {
    return {
      num: 0
    }
  },
  beforeCreate() {
    console.log('%c child2 beforeCreate', 'color: green; font-size: 20px')
  },
  created() {
    console.log('%c child2 created', 'color: green; font-size: 20px')
  },
  beforeMount() {
    console.log('%c child2 beforeMount', 'color: green; font-size: 20px')
  },
  mounted() {
    console.log('%c child2 mounted', 'color: green; font-size: 20px')
  },
  beforeUpdate() {
    console.log('%c child2 beforeUpdate', 'color: green; font-size: 20px')
  },
  updated() {
    console.log('%c child2 updated', 'color: green; font-size: 20px')
  },
  beforeDestroy() {
    console.log('%c child2 beforeDestroy', 'color: green; font-size: 20px')
  },
  destroyed() {
    console.log('%c child2 destroyed', 'color: green; font-size: 20px')
  },
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>