<template>
  <div class="child">
    <h2>child1 组件</h2>
    <button @click="num++">{{ num }}</button>
    <Child2 :parentNum="num" />
  </div>
</template>

<script>
import Child2 from './Child2.vue'
export default {
  data() {
    return {
      num: 0
    }
  },
  beforeCreate() {
    console.log('%c child1 beforeCreate', 'color: red; font-size: 20px')
  },
  created() {
    console.log('%c child1 created', 'color: red; font-size: 20px')
  },
  beforeMount() {
    console.log('%c child1 beforeMount', 'color: red; font-size: 20px')
  },
  mounted() {
    console.log('%c child1 mounted', 'color: red; font-size: 20px')
  },
  beforeUpdate() {
    console.log('%c child1 beforeUpdate', 'color: red; font-size: 20px')
  },
  updated() {
    console.log('%c child1 updated', 'color: red; font-size: 20px')
  },
  beforeDestroy() {
    console.log('%c child1 beforeDestroy', 'color: red; font-size: 20px')
  },
  destroyed() {
    console.log('%c child1 destroyed', 'color: red; font-size: 20px')
  },
  components: {
    Child2
  }
}
// child1 beforeCreate
// child1 created
// child1 beforeMount
// child2 beforeCreate
// child2 created
// child2 beforeMount
// child2 mounted
// child1 mounted
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid red;
  padding: 20px;
}
</style>