<template>
  <div class="app">
    <h1>app</h1>
    <button @click="show = !show">销毁child</button>
    <Child1 v-if="show" />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
export default {
  data() {
    return {
      show: true
    }
  },
  components: {
    Child1
  }
}
</script>

<style lang="scss" scoped>

</style>