.header {
  height: 50px;
  background: tomato;
  display: flex;
  padding: 10px 20px;
}
.input {
  background: #ffffff;
  height: 30px;
  border-radius: 20px;
  flex: 1;
  display: flex;
  overflow: hidden;
  input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
  }
  span {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
  }
}
.cancel {
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
  color: #eeeeee;
}