<script setup>
import { ref, reactive, nextTick } from 'vue'
const title = ref('我是标题')
const titleRef = ref(null)

// 1. js 中使用时不需要通过 value 属性
// 2. 只能定义对象和数组
// 3. 不可以重新赋值，只能修改数组或者对象内的数据
const obj = reactive({ name: '小明' })
const arr = reactive([1,2,3,4,5,6])

// 解构出来的变量不是响应式变量，修改此变量页面不会更新
let { name } = obj

const changeObj = () => {
  // obj.name = Math.random()
  // obj.age = 100
  name = 10000
}
</script>


<template>
  <h1 ref="titleRef">{{ title }}</h1>
  <input type="text" v-model="title">
  <hr />
  <button @click="changeObj">修改对象</button>
  <p>{{ obj }}</p>
  <ul>{{ arr }}</ul>

  <p>{{ name }}</p>
</template>

<style lang='scss'>

</style>
