<template>
  <div>
    <button
      v-for="item in navList"
      :key="item.ComName"
      :class="{ active: item.ComName === curName }"
      @click="curName = item.ComName"
    >{{ item.title }}</button>

    <!-- <Box v-if="curName === 'Box'" />
    <List v-else-if="curName === 'List'" />
    <Form v-else-if="curName === 'Form'" /> -->

    <!-- component: 动态组件 -->
    <component :is="curName"></component>
  </div> 
</template>

<script>
import Box from './components/Box.vue'
import Form from './components/Form.vue'
import List from './components/List.vue'

export default {
  data() {
    return {
      curName: 'List',
      navList: [
        { title: '导航一', ComName: 'Box' },
        { title: '导航二', ComName: 'List' },
        { title: '导航三', ComName: 'Form' }
      ]
    }
  },
  methods: {
  },
  components: {
    Box,
    Form,
    List
  }
}
</script>

<style lang="scss">
button.active {
  background: tomato;
}
</style>