
<script setup>
import { reactive, ref } from 'vue'

const emits = defineEmits(['search'])

const formInline = ref({
  id: '',
  username: '',
  age: '',
  sex: '',
  email: ''
})

const onSubmit = () => {
  const params = {}
  Object.keys(formInline.value).forEach(key => {
    if (formInline.value[key] !== '') {
      params[key] = formInline.value[key]
    }
  })
  emits('search', params)
}
const onReset = () => {
  formInline.value = {}
  emits('search', {})
}
</script>

<template>
  <el-form :inline="true" :model="formInline" label-width="60" class="search-form">
    <el-form-item label="用户id">
      <el-input v-model="formInline.id" placeholder="id" clearable />
    </el-form-item>
    <el-form-item label="性别">
      <el-select
        v-model="formInline.sex"
        placeholder="选择性别"
        clearable
      >
        <el-option label="男" :value="1" />
        <el-option label="女" :value="0" />
      </el-select>
    </el-form-item>
    <el-form-item label="姓名" prop="username">
      <el-input
        v-model="formInline.username"
        placeholder="输入姓名"
        clearable
      />
    </el-form-item>
    <el-form-item label="年龄">
      <el-input
        v-model.number="formInline.age"
        placeholder="输入年龄"
        clearable
      />
    </el-form-item>
    <el-form-item label="邮箱">
      <el-input
        v-model="formInline.email"
        placeholder="输入邮箱"
        clearable
      />
    </el-form-item>
    <el-form-item class="btn-item">
      <el-button type="primary" @click="onSubmit">搜索</el-button>
      <el-button @click="onReset">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<style lang="scss" scoped>
.search-form {
  ::v-deep .el-form-item {
    width: calc((100% - 96px) / 3);
  }
}
.btn-item {
  padding-left: 60px;
  box-sizing: border-box;
}
</style>
