
<script setup>
import { ref, watch } from 'vue'

const props = defineProps(['modelValue', 'editInfo'])
const emits = defineEmits(['update:modelValue', 'submit'])

const form = ref({
  username: '',
  age: '',
  sex: '',
  password: '',
  email: ''
})
const rules = {
  username: [
    { required: true, message: '请输入姓名' }
  ],
  age: [
    { required: true, message: '请输入年龄' }
  ],
  sex: [
    { required: true, message: '请选择性别' }
  ],
  password: [
    { required: true, message: '请输入密码' }
  ],
  email: [
    { required: true, message: '请输入邮箱' }
  ]
}
const formRef = ref(null)

const submit = async () => {
  await formRef.value.validate()
  emits('submit', form.value)
}

watch(() => props.modelValue, () => {
  console.log('监听变量改变', props.modelValue)
  formRef.value?.resetFields()
})

watch(() => props.editInfo, () => {
  setTimeout(() => {
    Object.keys(form.value).forEach(key => {
      form.value[key] = props.editInfo ? props.editInfo[key] : ''
    })
  })
})

</script>

<template>
  <el-dialog
    :modelValue="modelValue"
    @close="emits('update:modelValue', false)"
    title="新增数据"
    width="500"
  >
    <el-form :model="form" ref="formRef" :label-width="60" :rules="rules">
      <el-form-item label="姓名" prop="username">
        <el-input v-model="form.username" autocomplete="off" />
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="form.password" autocomplete="off" />
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="form.sex" placeholder="Please select a zone">
          <el-option label="男" :value="1" />
          <el-option label="女" :value="0" />
        </el-select>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="form.age" autocomplete="off" />
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="form.email" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="emits('update:modelValue', false)">取消</el-button>
        <el-button type="primary" @click="submit">确定</el-button>
      </div>
    </template>
  </el-dialog>
</template>

