<template>
  <div>
    <h1>详情页面</h1>
    <h2>{{ $route.query.title }}</h2>
  </div>
</template>

<script>
export default {
  created () {
    // this.$route: 当前页面路由信息（path、query...）
    // console.log('?后的参数', this.$route.query)
    console.log('动态路由参数', this.$route.params)
  }
}
</script>

<style>

</style>
