<template>
  <div>
    <ul>
      <li
        v-for="item in list"
        :key="item.item_id"
        @click="goDetail(item.item_id, item.title)"
      >
        <h3>{{ item.title }}</h3>
        <img :src="item.img" alt="">
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    goDetail (id, title) {
      // query传参数: 把参数拼接到url？后
      // this.$router.push(`/detail?id=${id}&a=abc&name=小明`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id,
      //     title
      //   }
      // })

      // 动态路由传参数：参数是 path 的一部分
      // 注意：必须先配置
      // this.$router.push(`/detail/${id}`)
      this.$router.push({
        name: 'detail',
        params: {
          id
        },
        query: {
          title,
          aaa: 'AAAA',
          abc: 'ABC'
        }
      })
    }
  },
  async created () {
    const res = await axios.get('https://zyxcl.xyz/exam_api/zh')
    console.log(res.data.items)
    this.list = res.data.items
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100px;
}
</style>
