<template>
  <div>
    <img class="bg" :src="filmInfo.poster" alt="">
    <h3>{{filmInfo.name}}</h3>
    <p>{{filmInfo.category}}</p>
    <button @click="hide = !hide">展开</button>
    <p ref="synopsis" :class="['synopsis', { hide }]" :style="{ height: synopsisHeight + 'px' }">{{filmInfo.synopsis}}</p>
    <div class="row">
      <div class="sub-title">
        <b>剧照</b>
        <span>{{filmInfo.photos.length}}张</span>
      </div>
      <div class="photos">
        <ul>
          <li v-for="item in filmInfo.photos" :key="item" @click="showPhoto = true">
            <img :src="item" alt="">
          </li>
        </ul>
      </div>
    </div>
    <Photos
      v-if="showPhoto"
      :photos="filmInfo.photos"
      @close="showPhoto = false"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Photos from './components/Photos.vue'

export default {
  data () {
    return {
      showPhoto: false,
      filmInfo: {
        photos: []
      },
      hide: false,
      synopsisHeight: 'auto'
    }
  },
  created () {
    this.getDetail()
  },
  methods: {
    async getDetail () {
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          filmId: this.$route.params.filmId,
          k: 6466340
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
          'X-Host': 'mall.film-ticket.film.info'
        }
      })
      this.filmInfo = res.data.data.film
      this.$nextTick(() => {
        // 等页面渲染成功存简介的高度
        this.synopsisHeight = this.$refs.synopsis.clientHeight
        this.hide = true
      })
    }
  },
  components: {
    Photos
  }
}
</script>

<style lang="scss" scoped>
.bg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.synopsis {
  overflow: hidden;
  border: 1px solid red;
  transition: height 0.5s linear;
  &.hide {
    height: 46px !important;
  }
}
.row {
  .sub-title {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}
.photos {
  width: 100%;
  ul {
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
    li {
      width: 150px;
      flex-shrink: 0;
      height: 100px;
      overflow: hidden;
      margin: 0 5px;
      img {
        width: 100%;

      }
    }
  }
}
</style>
