<template>
  <div class="movie" @scroll="scrollMovie">
    <nav>
      <router-link replace to="/home/movie/hot">正在热映</router-link>
      <router-link replace to="/home/movie/coming">即将上映</router-link>
    </nav>
    <div class="list">
      <router-view />
    </div>
    <div class="fixed-nav" v-show="scrollTop > 150">
      <div class="title">
        <router-link to="/search">城市</router-link>
        <span>电影</span>
      </div>
      <nav>
        <router-link replace to="/home/movie/hot">正在热映</router-link>
        <router-link replace to="/home/movie/coming">即将上映</router-link>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      scrollTop: 0
    }
  },
  methods: {
    scrollMovie (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      // console.log('滚动了', scrollTop, clientHeight, scrollHeight)
      this.scrollTop = scrollTop
      if (scrollTop + clientHeight + 1 >= scrollHeight) {
        console.log('到底了')
        // 调用子路由中的方法
        this.$bus.$emit('addPageNum')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  height: 100%;
  overflow: auto;
  nav {
    height: 50px;
    background: #dddddd;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .router-link-active {
      background: red;
    }
  }
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
  .title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    a {
      position: absolute;
      left: 0;
      top: 0;
      height: 50px;
      width: 50px;
    }
  }
}
</style>
