<template>
  <div class="box">
    <h2>box</h2>
    <div class="inner">
      <p>{{ text }}</p>
      <input type="text" v-model="text">
    </div>
    {{ pos }}
    <p>abc: {{ abc }}</p>
  </div>
</template>

<script>
import posMixin from '../mixins/pos'
import testMixin from '../mixins/test'

export default {
  // 使用混入，把混入的对象合并到当前对象中
  mixins: [posMixin, testMixin],
  data() {
    return {
      text: '我是box组件 内的数据',
      abc: 'Box组件内的ABC'
    }
  },
  created() {
    console.log('box组件的created', this)
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
.inner {
  border: 1px solid red;
  padding: 20px;
}
</style>