<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- 声明式渲染：模版解析时碰到双大括号会当成js语法解析，只能解析表达式，不能解析语句 -->
    <h1>{{ title }}</h1>
    <div>{{ title.length > 5 ? -1 : 100 }}</div>
    <div>{{ title.slice(1) }}</div>
    <div>{{ num }}</div>
    <div>{{ flag }}</div>
    <div>{{ false }}</div>
    <div>{{ null }}</div>
    <div>{{ undefined }}</div>
    <div>{{ arr }}</div>
    <div>{{ obj }}</div>
    <!-- <div>普通变量：{{ a }}</div> -->
  </div>

  <script>

    // let a = 100

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '我是默认标题',
        num: 100,
        flag: true,
        arr: [1,2,3,4],
        obj: { name: '小明' }
      }
    })

    console.log(vm)


  </script>
</body>
</html>