<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- <input type="text" :value="title" @input="title = $event.target.value"> -->
    <input type="text" v-model="title">
    <hr />
    <p>姓名：<input type="text" v-model.lazy.trim="params.name"></p>
    <p>年龄：<input type="number" v-model.number="params.age"></p>
    <p>性别：
      <input type="radio" name="sex" value="men" id="men" v-model="params.sex"><label for="men">男</label>
      <input type="radio" name="sex" value="women" id="women" v-model="params.sex"><label for="women">女</label>
    </p>
    <p>地址：
      <select v-model="params.address">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
        <option value="shenzhen">深圳</option>
      </select>
    </p>
    <!-- 给 checkbox 的 v-model 传入布尔值会获取 checked -->
    <p>婚姻状态：<input type="checkbox" v-model="params.married">{{ params.married ? '已婚' : '未婚' }}</p>
    <!-- 给 checkbox 的 v-model 传入数组会获取 value 存到数组 -->
    <p>爱好：
      <input type="checkbox" value="唱歌" id="sing" v-model="params.hobby"><label for="sing">唱歌</label>
      <input type="checkbox" value="跳舞" id="dance" v-model="params.hobby"><label for="dance">跳舞</label>
      <input type="checkbox" value="rap" id="rap" v-model="params.hobby"><label for="rap">rap</label>
      <input type="checkbox" value="篮球" id="basketball" v-model="params.hobby"><label for="basketball">篮球</label>
    </p>
    <p>备注: <textarea cols="30" rows="10" v-model="params.remark"></textarea></p>
    <button>提交</button>
    {{ params }}
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        params: {
          name: '',
          age: '',
          sex: '',
          address: '',
          married: false,
          hobby: [],
          remark: ''
        }
      },
      methods: { // 定义函数
      }
    })

    console.log(vm)


  </script>
</body>
</html>