<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  [v-clock] {
    display: none;
  }
</style>

<body>
  <div class="app" v-cloak>
    <h1 v-once>{{ title }}</h1>
    <input type="text" v-model="title">
    <div v-pre>{{ aaaaaaaa }}</div>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题'
      },
      methods: { // 定义函数
      }
    })

    console.log(vm)


  </script>
</body>
</html>