<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
.box {
  padding: 50px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
</style>

<body>
  <div class="app">
    <div class="box red" @click.self="log('red')">
      <div class="box green" @click="log('green')">
        <div class="box blue" @click="log('blue')"></div>
      </div>
    </div>
    <input type="text" @keydown.enter.once="keydownFn">
    <a href="https://www.baidu.com" @click.prevent="log('点击了a标签')">跳转</a>
    <hr />
    <p>num: {{ num }}</p>
    <button @click="num++">按钮1</button>
    <button @click="add">按钮2</button>
    <button @click="changeNum(2, $event)">按钮3</button>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        num: 0
      },
      methods: { // 定义函数
        log(color) {
          alert(color)
        },
        keydownFn(e) {
          console.log(e)
        },
        add(e) {
          this.num ++
        },
        changeNum(n, e) {
          this.num += n
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>