<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
.box {
  padding: 50px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
</style>

<body>
  <div class="app">
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <button @click="changeArr">修改第二项</button>
  </div>


  <h2></h2>
  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        arr: ['a', 'b', 'c']
      },
      methods: { // 定义函数
        changeArr() {
          // 不能通过下标修改数组，页面不会自动更新
          // 不能通过length修改数组
          // this.arr[1] = Math.random()
          // this.arr.length = 0

          // 需要通过数组的方法修改
          // this.arr.splice(1, 1, Math.random())
          // 通过 $set 修改
          this.$set(this.arr, 1, Math.random())
          console.log(this.arr)
        }
      }
    })

    // console.log(vm)



    // const obj = {
    //   name: 'xm',
    //   age: 10
    // }
    // let age = 10
    // // 定义属性描述符
    // Object.defineProperty(obj, 'age', {
    //   get() {
    //     console.log('有人要获取obj.age')
    //     return age
    //   },
    //   set(val) {
    //     console.log('有人要修改obj.age')
    //     document.querySelector('h2').innerHTML = val
    //     age = val
    //   }
    // })


    // Array.prototype.push = function () {
    //   console.log('有人调用了push')
    // }





  </script>
</body>
</html>