<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
.box {
  padding: 50px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
</style>

<body>
  <div class="app">
    <p>{{ obj }}</p>
    <button @click="change">修改对象</button>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        obj: {
          name: 'xm',
          age: 20
        }
      },
      methods: { // 定义函数
        change() {
          // this.obj.name = Math.random()
          // 直接新增属性，页面不会更新
          // this.obj.sex = '男'

          // $set添加新的响应式属性
          // this.$set(this.obj, 'sex', '男')
          this.obj = {...this.obj, sex: '男'}
          console.log(this.obj)
        }
      }
    })

    // console.log(vm)



    // const obj = {
    //   name: 'xm',
    //   age: 10
    // }
    // let age = 10
    // // 定义属性描述符，访问器
    // Object.defineProperty(obj, 'age', {
    //   get() {
    //     console.log('有人要获取obj.age')
    //     return age
    //   },
    //   set(val) {
    //     console.log('有人要修改obj.age')
    //     document.querySelector('h2').innerHTML = val
    //     age = val
    //   }
    // })


    // Array.prototype.push = function () {
    //   console.log('有人调用了push')
    // }





  </script>
</body>
</html>