<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <h1 ref="title">{{ title }}</h1>
    <button @click="change">修改标题</button>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题'
      },
      methods: { // 定义函数
        change() {
          this.title = Math.random()
          console.log(this.title)
          // 同步更新数据，异步更新页面，无法立即获取到最新的dom
          // console.log(document.querySelector('h1').outerHTML)
          // console.log(this.$refs.title.outerHTML)

          // 等待页面更新完后立即执行，可以获取到最新dom
          this.$nextTick(() => {
            console.log(document.querySelector('h1').outerHTML)
            console.log(this.$refs.title.outerHTML)
          })
        }
      }
    })

    // console.log(vm)



    // const obj = {
    //   name: 'xm',
    //   age: 10
    // }
    // let age = 10
    // // 定义属性描述符，访问器
    // Object.defineProperty(obj, 'age', {
    //   get() {
    //     console.log('有人要获取obj.age')
    //     return age
    //   },
    //   set(val) {
    //     console.log('有人要修改obj.age')
    //     document.querySelector('h2').innerHTML = val
    //     age = val
    //   }
    // })


    // Array.prototype.push = function () {
    //   console.log('有人调用了push')
    // }





  </script>
</body>
</html>