<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>aaaa: {{ title }}</h1>
    <div v-text="inner"></div>
    <div v-html="inner"></div>
  </div>

  <script>

    // let a = 100

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '我是默认标题',
        inner: '<b>我是加粗文本</b>'
      }
    })

    console.log(vm)


  </script>
</body>
</html>