<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <div>分数: {{ num }}</div>
    <div v-if="num >= 90" style="color: green">你太强了</div>
    <div v-else-if="num >= 60" style="color: skyblue">及格了</div>
    <div v-else style="color: red">没有及格</div>
  </div>

  <script>

    // let a = 100

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '我是默认标题',
        num: 10
      }
    })

    console.log(vm)


  </script>
</body>
</html>