<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- <ul>
      <li v-for="(item, index) in arr">
        <p>下标： {{ index }}</p>
        <p>值： {{ item }}</p>
      </li>
    </ul>
    <ul>
      <li v-for="value in arr1">
        {{ value }}
      </li>
    </ul> -->
    <!-- <ul>
      <li v-for="(item, index) in str">
        <p>下标： {{ index }}</p>
        <p>值： {{ item }}</p>
      </li>
    </ul> -->
    <!-- <ul>
      <li v-for="(val, key, index) in obj">
        <p>key： {{ key }}</p>
        <p>value {{ val }}</p>
        <p>index {{ index }}</p>
      </li>
    </ul> -->
    <ul>
      <li v-for="(val, index) in 5">
        <p>val: {{ val }}</p>
        <p>index: {{ index }}</p>
      </li>
    </ul>
  </div>

  <script>

    // let a = 100

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        arr: ['a', 'b', 'c', 'd'],
        arr1: [3,1,6,19, 10],
        str: 'abcdefg',
        obj: {
          name: '小明',
          age: 20,
          sex: '男'
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>