<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- <input type="text" @focus="focus" @input="e => title = e.target.value"> -->
    <input type="text" @input="title = $event.target.value">

    <hr />
    <p>num: {{ num }}</p>
    <button v-on:click="num--">num-</button>
    <button @click="add">num+</button>
    <ul @click="clickUl">
      <li v-for="item in arr">{{ item }}</li>
    </ul>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        num: 0,
        arr: ['a', 'b', 'c', 'd']
      },
      methods: { // 定义函数
        add() {
          // 注意：希望函数中的this指向vue实例对象，所以不能使用箭头函数
          this.num++
        },
        focus() {
          console.log('获取焦点')
        },
        clickUl(e) {
          console.log(e.target)
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>