<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <button @click="changeImg">切换图片</button>
    <!-- <img v-bind:src="img" alt=""> -->
    <img :src="img" alt="">
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        img: './img/img1.webp'
      },
      methods: { // 定义函数
        changeImg() {
          if (this.img === './img/img2.jpg') {
            this.img = './img/img1.webp'
          } else {
            this.img = './img/img2.jpg'
          }
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>