<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .red {
    background: red;
  }
  .green {
    background: green;
  }
  .blue {
    background: blue;
  }
  .orange {
    color: orange
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- <div :class="['orange', { red: num >= 90, green: num >= 60 && num < 90, blue: num < 60 }]">分数： {{ num }}</div> -->
    <div :style="[{ fontSize: '30px' }, { color: 'red', background: 'green' }]">{{ num }}</div>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        num: 10
      },
      methods: { // 定义函数
      }
    })

    console.log(vm)


  </script>
</body>
</html>