<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  nav {
    width: 300px;
    border-bottom: 1px solid;
    display: flex;
  }
  nav span {
    flex: 1;
    text-align: center;
    line-height: 40px;
  }
  .active {
    background: red;
  }
</style>
<body>
  <div class="app">
    <nav>
      <span
        v-for="(item, index) in tablist"
        :class="{ active: index === curIndex }"
        @click="curIndex = index"
      >{{ item.name }}{{ index }}</span>
    </nav>
    <ul>
      <li v-for="item in tablist[curIndex].songs">{{ item }}</li>
    </ul>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        curIndex: 0,
        tablist: [
          {
            name: '凤凰传奇',
            songs: ['最炫民族风', '奢香夫人', '月亮之上']
          },
          {
            name: '周杰伦',
            songs: ['晴天', '七里香', '稻香']
          },
          {
            name: '薛之谦',
            songs: ['演员', '意外', '丑八怪']
          }
        ]
      },
      methods: { // 定义函数
      }
    })

    console.log(vm)


  </script>
</body>
</html>