<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <button @click="arr.shift()">删除第一项</button>
    <ul>
      <li v-for="item in arr" :key="item.id">
        <input type="checkbox">{{item.value}}
      </li>
    </ul>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        arr: [
          { id: 1, value: 'a' },
          { id: 2, value: 'b' },
          { id: 3, value: 'c' }
        ]
      },
      methods: { // 定义函数
        
      }
    })




  </script>
</body>
</html>