<template>
  <div class="photo-bg">
    <div class="close" @click="$emit('close')">x</div>
    <div class="swiper-box">
      <div class="swiper" ref="swiper">
        <div class="swiper-wrapper">
          <div v-for="item in photos" :key="item" class="swiper-slide">
            <img :src="item" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination" ref="pagination"></div>
  </div>
</template>

<script>
import Swiper from 'swiper'
import { Pagination } from 'swiper/modules'
import 'swiper/css'

export default {
  props: ['photos'],
  components: {
  },
  mounted () {
    this.mySwiper = new Swiper(this.$refs.swiper, {
      modules: [Pagination],
      speed: 400,
      // slidesPerView: 2
      pagination: {
        el: this.$refs.pagination,
        type: 'fraction'
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.photo-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
.close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.swiper-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  color: #fff;
  img {
    width: 100%;
    vertical-align: middle;
  }
}
.swiper-pagination {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
</style>
