.box {
  color: blue;
  width: 100px;
  height: 100px;
  background-color: red;
}

.active {
  border: 3px solid;
}
.childWrap {
  border: 1px solid;
  padding: 20px;
}
.row {
  padding: 20px;
  border: 2px solid #333333;
}
/* 在css module内定义全局样式 */
:global(.title) {
  background: tomato;
}