<template>
  <div>
    <button
      v-for="item in navList"
      :key="item.ComName"
      :class="{ active: item.ComName === curName }"
      @click="curName = item.ComName"
    >{{ item.title }}</button>

    <Box v-if="curName === 'Box'" />
    <List v-else-if="curName === 'List'" />
    <Form v-else-if="curName === 'Form'" />
  </div> 
</template>

<script>
import Box from './components/Box.vue'
// import Form from './components/Form.vue'
// import List from './components/List.vue'

export default {
  data() {
    return {
      curName: 'Box',
      navList: [
        { title: '导航一', ComName: 'Box' },
        { title: '导航二', ComName: 'List' },
        { title: '导航三', ComName: 'Form' }
      ]
    }
  },
  methods: {
  },
  components: {
    Box,
    // 异步引入组件
    // 作用：减少主包js文件的体积，提升页面首屏加载速度
    // 原理：webpack打包时把此组件打包成单独的js文件，当需要展示此组件时再动态加载对应的js文件
    Form: () => import(/* webpackChunkName: "Form" */'./components/Form.vue'),
    List: () => import(/* webpackChunkName: "List" */'./components/List.vue'),
  }
}
</script>

<style lang="scss">
button.active {
  background: tomato;
}
</style>