<template>
  <div>
    <button @click="$emit('input', value + 1)">+</button>
    {{ value }}
    <button @click="$emit('input', value - 1)">-</button>
  </div>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style scoped>
button {
  width: 20px;
}
</style>