<template>
  <div class="row">
    <span>{{ label }}：</span>
    <input type="text" :value="value" @input="inputFn">
  </div>
</template>

<script>
export default {
  props: ['label', 'value'],
  methods: {
    inputFn(e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  span {
    width: 100px;
  }
}
</style>