<script setup>
import { computed, nextTick, ref, watch } from 'vue'
import * as echarts from 'echarts'

const activeName = ref('second')
const chartsRef = ref()



const showCharts = computed(() => {
  return activeName.value === 'first' || activeName.value === 'second'
})

let myChart = null
watch(showCharts, () => {
  if (showCharts.value) {
    nextTick(() => {
      // 初始化
      myChart = echarts.init(chartsRef.value)
      handleClick()
    })
  }
}, {
  immediate: true
})

const handleClick = () => {
  console.log('activeName.value', activeName.value)
  if (activeName.value === 'first') {
    // 绘制图表
    myChart.setOption({
      title: {
        text: '折线图'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          name: 'Email',
          type: 'line',
          stack: 'Total',
          data: [120, 132, 101, 134, 90, 230, 210]
        },
        {
          name: 'Union Ads',
          type: 'line',
          stack: 'Total',
          data: [220, 182, 191, 234, 290, 330, 310]
        },
        {
          name: 'Video Ads',
          type: 'line',
          stack: 'Total',
          data: [150, 232, 201, 154, 190, 330, 410]
        },
        {
          name: 'Direct',
          type: 'line',
          stack: 'Total',
          data: [320, 332, 301, 334, 390, 330, 320]
        },
        {
          name: 'Search Engine',
          type: 'line',
          stack: 'Total',
          data: [820, 932, 901, 934, 1290, 1330, 1320]
        }
      ]
    }, true)
  } else if (activeName.value === 'second') {
    myChart.setOption({
      xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: [120, 200, 150, 80, 70, 110, 130],
          type: 'bar'
        }
      ]
    }, true)
  }
}

</script>

<template>
  <div class="dashboard">
  <el-row :gutter="20">
    <el-col :span="24"><div class="grid-content" /></el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="18">
      <div class="grid-content">
        <el-tabs v-model="activeName" @tab-change="handleClick">
          <el-tab-pane label="标签1" name="first"></el-tab-pane>
          <el-tab-pane label="标签2" name="second"></el-tab-pane>
          <el-tab-pane label="标签3" name="third">
            <b>标签3333333333</b>
          </el-tab-pane>
          <el-tab-pane label="标签4" name="fourth">Task</el-tab-pane>
        </el-tabs>
        <div v-if="showCharts" class="charts" ref="chartsRef"></div>
      </div>      
    </el-col>
    <el-col :span="6"><div class="grid-content" /></el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="8">
      <div class="grid-content">
        <el-progress stroke-width="10" type="circle" :percentage="100" status="success" />
      </div>
    </el-col>
    <el-col :span="8">
      <div class="grid-content">
        <el-progress stroke-width="10" type="circle" :percentage="100" status="success" />
      </div>
    </el-col>
    <el-col :span="8">
      <div class="grid-content">
        <el-progress stroke-width="10" type="circle" :percentage="100" status="success" />
      </div>
    </el-col>
  </el-row>
  <el-row :gutter="20">
    <el-col :span="4"><div class="grid-content" /></el-col>
    <el-col :span="16"><div class="grid-content" /></el-col>
    <el-col :span="4"><div class="grid-content" /></el-col>
  </el-row>
  </div>
</template>

<style lang='scss' scoped>
.dashboard {
  padding: 20px;
  background: #f2f2f2;
}
.grid-content {
  background: #ffffff;
  min-height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.charts {
  height: 400px;
}
</style>
