<script setup>
const props = defineProps(['todoLen', 'total', 'type'])
const emits = defineEmits(['clear', 'change'])


</script>

<template>
  <footer>
    <p>todo: {{ todoLen }}</p>
    <div class="btns">
      <button :class="{ active: type === 0 }" @click="emits('change', 0)">全部</button>
      <button v-if="todoLen < total" :class="{ active: type === 1 }" @click="emits('change', 1)">未完成</button>
      <button v-if="todoLen < total" :class="{ active: type === 2 }" @click="emits('change', 2)">已完成</button>
    </div>
    <button v-if="todoLen < total" @click="emits('clear')">清除已完成</button>
  </footer>
</template>

<style lang='scss' scoped>
footer {
  display: flex;
  justify-content: space-between;
}
button {
  margin-left: 10px;
  &.active, &:hover {
    background: tomato;
    color: #ffffff;
    border: none;
  }
}

</style>
