<script setup>
import { ref } from 'vue'
const emits = defineEmits(['submit'])

const text = ref('')

const submit = () => {
  emits('submit', text.value)
  text.value = ''
}
</script>

<template>
  <header>
    <input type="text" v-model.trim="text" @keydown.enter="submit">
    <button @click="submit">提交</button>
  </header>
</template>

<style lang='scss' scoped>
header {
  display: flex;
  padding: 20px 0;
  input {
    flex: 1;
    border: none;
    border-bottom: 1px dashed;
    outline: none;
  }
  button {
    width: 100px;
    height: 40px;
  }
}
</style>
