<script setup>
const props = defineProps(['list'])
const emits = defineEmits(['change', 'del'])

</script>

<template>
  <ul>
    <li
      v-for="item in list"
      :key="item.id"
      :class="{ active: item.checked }"
    >
      <span @click="emits('change', item.id)">{{ item.title }}</span>
      <b @click="emits('del', item.id)">x</b>
    </li>
  </ul>
</template>

<style lang='scss' scoped>
li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  span {
    flex: 1;
    margin: 0 20px;
  }
  b {
    width: 30px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #cccccc;
    }
  }
  &.active {
    background: tomato;
    color: #ffffff;
  }
}
</style>
