/* components/dice/dice.wxss */

.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dice-item {
  margin: 30rpx 75rpx;
  width: 200rpx;
  height: 200rpx;
  background: #eeeeee;
  border-radius: 20rpx;
  padding: 20rpx;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.dot1 {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.dot2 .dot:last-child, .dot3 .dot:last-child {
  margin-left: 120rpx;
}
.dot3 .dot:nth-child(2) {
  margin: 0 60rpx;
}
.dot4 .dot:nth-child(even), .dot6 .dot:nth-child(even) {
  margin-left: 80rpx;
}
.dot5 .dot:nth-child(3) {
  margin: 0 60rpx;
}
.dot {
  width: 40rpx;
  height: 40rpx;
  background: #333333;
  border-radius: 50%;
}