<script setup>
import { reactive, ref } from 'vue'
import { User, Lock } from '@element-plus/icons-vue'
import { loginApi } from '@/services'
import { ElMessage } from 'element-plus'
import { useRouter, useRoute } from 'vue-router'

const emits = defineEmits(['change'])
const router = useRouter()
const route = useRoute()
const ruleFormRef = ref()
const ruleForm = reactive({
  username: '',
  password: ''
})
const rules = reactive({
  username: [
    { required: true, message: '请输入用户名！', trigger: 'change' },
    { min: 3, max: 6, message: '用户名的长度范围是 3 - 6', trigger: 'change' }
  ],
  password: [{ required: true, message: '请输入密码！', trigger: 'change' }],
})

const submit = async () => {
  try {
    await ruleFormRef.value.validate()
    const res = await loginApi(ruleForm)
    if (res.data.code === 0) {
      ElMessage.success('登录成功！')
      localStorage.setItem('token', res.data.token)
      const path = decodeURIComponent(route.query.redirect || '/')
      router.push(path)
    } else {
      ElMessage.error(res.data.msg)
    }
  } catch(e) {
    console.log('校验未通过', e)
  }
}
</script>

<template>
  <div class="form">
    <h2>登录</h2>
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules">
      <el-form-item prop="username">
        <el-input v-model.trim="ruleForm.username" placeholder="用户名" :prefix-icon="User" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model.trim="ruleForm.password" type="password" show-password autocomplete="off" :prefix-icon="Lock" placeholder="密码" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">登录</el-button>
        <p @click="emits('change')">没有账号，去注册</p>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang='scss' scoped>
.form {
  background: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  h2 {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
  .el-button {
    width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #409eff;
    &:hover {
      opacity: 0.8;
    }
  }
}
</style>
