<script setup>
import { reactive, ref } from 'vue'
import { User, Lock } from '@element-plus/icons-vue'
import { registerApi } from '@/services'
import { ElMessage } from 'element-plus'

const emits = defineEmits(['change'])

const ruleFormRef = ref()

const validatePass = (rule, value, callback) => {
  if (value === '') {
    callback(new Error('请输入密码！'))
  } else {
    if (ruleForm.checkPass !== '') {
      if (!ruleFormRef.value) return
      // 校验确认密码框
      ruleFormRef.value.validateField('checkPass')
    }
    callback()
  }
}
const validatePass2 = (rule, value, callback) => {
  if (value === '') {
    callback(new Error('请确认密码！'))
  } else if (value !== ruleForm.password) {
    callback(new Error("两次密码不一致!"))
  } else {
    callback()
  }
}

const ruleForm = reactive({
  username: '',
  password: '',
  checkPass: ''
})

const rules = reactive({
  username: [
    { required: true, message: '请输入用户名！', trigger: 'change' },
    { min: 3, max: 6, message: '用户名的长度范围是 3 - 6', trigger: 'change' }
  ],
  password: [{ validator: validatePass, trigger: 'blur' }],
  checkPass: [{ validator: validatePass2, trigger: 'blur' }],
})
const submit = async () => {
  try {
    await ruleFormRef.value.validate()
    const res = await registerApi(ruleForm)
    if (res.data.code === 0) {
      ElMessage.success('注册成功，请去登录！')
      emits('change')
    } else {
      ElMessage({
        message: res.data.msg,
        type: 'error'
      })
    }
  } catch(e) {
    console.log('校验未通过', e)
  }
}
</script>

<template>
  <div class="form">
    <h2>注册</h2>
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules">
      <el-form-item prop="username">
        <el-input v-model.trim="ruleForm.username" placeholder="用户名" :prefix-icon="User" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model.trim="ruleForm.password" type="password" show-password autocomplete="off" :prefix-icon="Lock" placeholder="密码" />
      </el-form-item>
      <el-form-item prop="checkPass">
        <el-input v-model.trim="ruleForm.checkPass" type="password" show-password autocomplete="off" :prefix-icon="Lock" placeholder="确认密码"/>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">注册</el-button>
        <p @click="emits('change')">已有账号，去登录</p>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang='scss' scoped>
.form {
  background: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  h2 {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
  .el-button {
    width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #409eff;
    &:hover {
      opacity: 0.8;
    }
  }
}
</style>
