<template>
  <div>
    <button @click="show = !show">按钮</button>
    <div class="box green">box11111</div>

    <transition
      enter-active-class="animate__backInUp"
      leave-active-class="animate__backOutDown"
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"
    >
      <div v-if="show" class="box animate__animated"></div>
    </transition>
    
    <!-- <transition
      name="fade"
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"
    >
      <div v-if="show" class="box"></div>
    </transition> -->

  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false
    }
  },
  methods: {
    beforeEnter() {
      console.log('进入之前')
    },
    enter() {
      console.log('正在进入')
    },
    afterEnter() {
      console.log('进入完成')
    },
    enterCancelled() {
      console.log('取消进入')
    }
  }
}
</script>

<style lang="scss">
.box {
  width: 100px;
  height: 100px;
  background: red;
}
.green {
  background: green;
  &:hover {
    animation: wobble 1s;
  }
}
.fade-enter {
  transform: translateY(300px) rotate(360deg);
}
.fade-enter-active {
  transition: transform 3s linear;
}
.fade-enter-to {
  transform: translateY(0) rotate(0);
}

@keyframes leaveAni {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(500px, 0);
  }
  100% {
    transform: translate(500px, 500px);
  }
}
.fade-leave-active {
  animation: leaveAni 2s;
}

</style>