<script setup>
import { ref } from 'vue'

// 定义响应式变量
const title = ref('我是标题')
const count = ref(0)
const arr = ref([])

const pushArr = () => {
  arr.value.push(Math.random())
}
const changeArr = () => {
  // arr.value[2] = '22222222222'
  arr.value.length = 0
}

const add = n => {
  // js中使用或修改变量时必须通过 value 属性
  count.value += n
}

// 定义普通变量，修改变量时页面不会自动更新
let a = 100
const changea = () => {
  a++
  console.log(a)
}

</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <p>count: {{ count }}</p>
  <button @click="count++">+</button>
  <button @click="add(-1)">-</button>
  <hr />
  <button @click="pushArr">添加arr</button>
  <button @click="changeArr">修改数组</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <hr />
  <p>a: {{ a }}</p>
  <button @click="changea">a++</button>
</template>

<style lang='scss'>

</style>
