<script setup>
import { ref, reactive, nextTick, computed } from 'vue'
const title = ref('我是标题')
const obj = reactive({ name: '小明' })

const changeObj = () => {
  obj.name = Math.random() + ''
}
// 计算属性:返回一个ref对象，js中使用时需要通过 value
const len = computed(() => {
  return title.value.length + obj.name.length
})

const info = computed(() => {
  return `我的名字叫:${obj.name}, len: ${len.value}`
})
</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <hr />
  <button @click="changeObj">修改对象</button>
  <p>{{ obj }}</p>
  <hr />
  <p>len: {{ len }}</p>
  <p>info: {{ info }}</p>
</template>

<style lang='scss'>

</style>
