<script setup>
import { computed, ref, watch } from 'vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import List from './components/List.vue'

const list = ref([])

const type = ref(0) // 0:all 1:todo 2:done

const add = text => {
  list.value.push({
    id: Date.now(),
    title: text,
    checked: false
  })
}
const changeChecked = id => {
  const index = list.value.findIndex(v => v.id === id)
  list.value[index].checked = !list.value[index].checked
}
const del = id => {
  const index = list.value.findIndex(v => v.id === id)
  list.value.splice(index, 1)
}

const clearDone = () => {
  list.value = list.value.filter(v => !v.checked)
}

const todoLen = computed(() => {
  return list.value.filter(v => !v.checked).length
})

const curList = computed(() => {
  if (type.value === 0) return list.value
  const done = type.value === 2
  return list.value.filter(v => {
    return v.checked === done
    // return type.value === 2 ? v.checked === true : v.checked === false
  })
})

const changeType = t => {
  type.value = t
}

watch(list, () => {
  if (todoLen.value === 0 || todoLen.value === list.value.length) {
    type.value = 0
  }
}, { deep: true })

</script>

<template>
  <div class="app">
    <Header @submit="add" />
    <List :list="curList" @change="changeChecked" @del="del" />
    <Footer
      :todoLen="todoLen"
      :total="list.length"
      :type="type"
      @clear="clearDone"
      @change="changeType"
    />
  </div>
</template>

<style lang='scss' scoped>
.app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  min-height: 400px;
}
</style>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background: #e6b0a6;
}
</style>
