<script setup lang="ts">
import { ref } from 'vue'
import Child from '../components/Child.vue'

const title = ref('100')
const count = ref(1)

const changeCount = (n: number) => {
  count.value += n
}

const changeTitle = (t: string) => {
  title.value = t
}

</script>

<template>
  <div class="about">
    <h1>{{ title }}</h1>
    <button @click="count++">+</button>
    <input type="text" v-model="title">
    <Child
      :title="title"
      :count="count"
      @changeCount="changeCount"
      @changeTitle="changeTitle"
    />
  </div>
</template>

<style>

</style>
