<script setup lang="ts">
import { ref, reactive } from 'vue'

interface listItem {
  id: number;
  title: string;
}
interface Iobj {
  name: string;
  age: number;
  sex?: string
}

const count = ref(0)
const list = ref<listItem[]>([])
const titleRef = ref<HTMLHeadingElement>()

const obj: Iobj = reactive({
  name: 'xxx',
  age: 22
})

const add = (n: number) => {
  count.value += n
}
const push = () => {
  list.value.push({
    id: Date.now(),
    title: Math.random() + ''
  })
}
const addObj = () => {
  obj.sex = '男'
}
const change = (e: Event) => {
  console.log((e.target as HTMLInputElement).value)
  console.log(titleRef.value?.outerHTML)
}


</script>

<template>
  <h1 ref="titleRef">我是首页</h1>
  <input  type="text" @input="change">
  <p>{{ obj }} <button @click="addObj">新增</button></p>
  <p>{{ count }}</p>
  <button @click="add(1)">+</button>
  <button @click="add(-1)">-</button>
  <hr />
  <button @click="push">push</button>
  <ul>
    <li v-for="item in list" :key="item.id">{{ item.title }}</li>
  </ul>
</template>
