<script setup lang="ts">
import { ref } from 'vue'
import Child2 from '../components/Child2.vue'
import type { Child2Expose } from '../components/Child2.vue'
import { useRouter, useRoute } from 'vue-router'

const ChildRef = ref<Child2Expose>()
const router = useRouter()
const route = useRoute()

const submit = () => {
  console.log(ChildRef.value)
  // 调用子组件方法
  ChildRef.value?.changeCount(11)
}

const goAbout = () => {
  router.push({
    path: '/about',
    query: {
      a: 100,
      b: 200
    }
  })
}

console.log(route.query.a)




</script>

<template>
  <h1>list页面</h1>
  <button @click="submit">修改子组件的count</button>
  <Child2 ref="ChildRef" />
  <button @click="goAbout">跳转about</button>
</template>

<style scoped>

</style>
