<template>
  <div class="app">
    <Header @submit="push" />
    <div class="content">
      <Card
        v-for="item in curList"
        :key="item.id"
        :isActive="item.isActive"
        :text="item.text"
        @remove="del(item.id)"
        @update="update(item.id)"
      />
    </div>
    <Footer
      :todoLen="todoLen"
      :listLen="list.length"
      :type="type"
      @changeType="changeType"
      @clearDone="clearDone"
    />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Card from './components/Card.vue'

export default {
  data () {
    return {
      list: [], // 所有任务
      type: null, // null: 全部，true:已完成，false：未完成
    }
  },
  computed: {
    curList() { // 根据type筛选出来的列表，用来展示当前列表
      if (this.type === null) return this.list
      return this.list.filter(v => v.isActive === this.type)
    },
    todoLen() { // 未完成的数量
      return this.list.filter(v => !v.isActive).length
    }
  },
  watch: {
    curList() { // 监听当前列表改变，如果当前列表为空，就自动跳转到全部
      if (this.curList.length === 0) {
        this.type = null
      }
    }
  },
  methods: {
    push(text) {
      this.list.unshift({
        id: Date.now(),
        text,
        isActive: false
      })
    },
    del(id) {
      console.log(id)
      this.list = this.list.filter(v => v.id !== id)
    },
    update(id) {
      this.list.forEach(item => {
        if (item.id === id) {
          item.isActive = !item.isActive
        }
      })
    },
    changeType(type) {
      this.type = type
    },
    clearDone() {
      this.list = this.list.filter(v => !v.isActive)
    }
  },
  components: {
    Header,
    Footer,
    Card
  }
}
</script>


<style lang="scss" scoped>
.app {
  width: 400px;
  min-height: 400px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  padding: 15px 0;
}
</style>