<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>store中的数据: {{count}}</p>
    <p>len: {{ len }}</p>
    <button @click="$store.commit('pushList', Math.random())">添加数据</button>
    <ul>
      <li v-for="item in list" :key="item">{{ item }}</li>
    </ul>
    {{banners1}}
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

// const obj = mapState(['count', 'list'])
// console.log(obj)

export default {
  data () {
    return {
      banners: 123
    }
  },
  computed: {
    // 通过 mapState 辅助函数从store中获取数据
    ...mapState(['count', 'list']),
    // 从 store 中获取数据时修改变量名
    ...mapState({
      banners1: state => state.banners
    }),
    // count () {
    //   return this.$store.state.count
    // },
    // list () {
    //   return this.$store.state.list
    // },
    // banners () {
    //   return this.$store.state.banners
    // },
    ...mapGetters(['len'])
    // len () {
    //   return this.$store.getters.len
    // }
  },
  methods: {
    // 把 actions 的函数映射到 methods 中
    // ...mapActions(['getBannerApi']),
    ...mapActions({
      getBannerApi123: 'getBannerApi'
    })
  },
  created () {
    // 调用actions中的方法
    // this.$store.dispatch('getBannerApi', 100)

    this.getBannerApi123(111111)
  }
}
</script>
