<template>
  <div class="home">
    <h2>首页</h2>
    <p>count: {{count}}</p>
    <button @click="changeCount(2)">+</button>
    <button @click="changeCount(-3)">-</button>
    <div>
      {{banners}}
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
export default {
  name: 'HomeView',
  computed: {
    ...mapState(['count', 'banners'])
    // count () {
    //   return this.$store.state.count
    // },
    // banners () {
    //   return this.$store.state.banners
    // }
  },
  methods: {
    ...mapActions(['getBannerApi']),
    ...mapMutations(['changeCount'])
    // add (n) {
    //   // 调用 store 中 mutations 的方法
    //   // this.$store.commit('changeCount', n)
    // }
  },
  created () {
    // console.log('store实例对象', this.$store)
    // console.log('store中的数据', this.$store.state)
    // 调用actions中的方法
    // this.$store.dispatch('getBannerApi')
    this.getBannerApi()
  }
}
</script>
