<script setup>
import { useUserStore } from '../store/user'

// 使用store
const userStore = useUserStore()


</script>

<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>姓名: {{ userStore.username }} <button @click="userStore.changeName(Math.random())">修改姓名</button></p>
    <p>年龄: {{ userStore.age }} <button @click="userStore.age++">+</button></p>
    <p>len: {{ userStore.len }}</p>
  </div>
</template>

<style>

</style>
