<script setup>
import { useRouter, useRoute } from 'vue-router'
import { useUserStore } from '../store/user'
import { useTestStore } from '../store/test'


// 使用store
const userStore = useUserStore()
const testStore = useTestStore()

// 获取路由实例对象，类似vue2中的 this.$router
const router = useRouter()
// 当前路由信息，类似vue2中的 this.$route
const route = useRoute()


const changePage = () => {
  console.log(router)
  router.push('/about')
}

const change = () => {
  console.log(userStore.username)
  userStore.username += '1'
}

testStore.getBanner()

</script>

<template>
  <main>
    <h1>我是首页</h1>
    <button @click="changePage">跳转about</button>
    <p>姓名: {{ userStore.username }}</p>
    <button @click="change">修改姓名</button>
    <hr />
    {{ testStore.banner }}
  </main>
</template>
