<script setup>
import { RouterView } from 'vue-router'
import Header from '@/components/Header.vue'
import { useUserStore } from '@/stores/user'

const userStore = useUserStore()

userStore.setUser()

</script>

<template>
  <div>
    <Header />
    <RouterView />
  </div>
</template>

<style lang='scss' scoped>

</style>
