<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <button @click="arr.shift()">删除第一项</button>
    <ul>
      <!-- key: 必须是一个唯一值，作为元素的标识，辅助更新 -->
      <li v-for="(item, index) in arr" :key="item.id">
        <input type="text">{{item.value}}
      </li>
    </ul>
  </div>

  <script>
    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        arr: [
          { id: 1, value: 'a' },
          { id: 2, value: 'b' },
          { id: 3, value: 'c' }
        ]
      },
      methods: { // 定义函数
        
      }
    })

    // const currDom = {
    //   tagname: 'div',
    //   class: 'app',
    //   children: [
    //     { tagname: 'button', children: ['删除第一项'] },
    //     { tagname: 'ul', children: [
    //       { tagname: 'li', key: 1, children: [{ tagname: 'input' }, 'aaaa'] },
    //       { tagname: 'li', key: 2, children: [{ tagname: 'input' }, 'bbb'] },
    //       { tagname: 'li', key: 3, children: [{ tagname: 'input' }, 'ccccc'] }
    //     ] }
    //   ]
    // }
    // const newDom = {
    //   tagname: 'div',
    //   class: 'app',
    //   children: [
    //     { tagname: 'button', children: ['删除第一项'] },
    //     { tagname: 'ul', children: [
    //       { tagname: 'li', key: 2, children: [{ tagname: 'input' }, 'bbb'] },
    //       { tagname: 'li', key: 3, children: [{ tagname: 'input' }, 'ccccc'] }
    //     ] }
    //   ]
    // }


  </script>
</body>
</html>