<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <hr />
    <button @click="arr.shift()">删除第一项</button>
    <ul>
      <li v-for="item in arr" :key="item.id">
        <h4>名称：{{ item.name }}</h4>
        <p>价格：<input type="number" v-model.number="item.price"></p>
        <p>
          <button @click="item.count--">-</button>
          {{ item.count }}
          <button @click="item.count++">+</button>
        </p>
      </li>
    </ul>
    <p>总价：{{ total }}</p>
    <p>总价：{{ total }}</p>
    <p>总价：{{ total }}</p>
    <p>总价：{{ total }}</p>
    <p>总价：{{ total }}</p>
  </div>

  <script>


    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        arr: [
          { id: 1, name: '苹果', price: 10, count: 0 },
          { id: 2, name: '香蕉', price: 5, count: 0 },
          { id: 3, name: '梨', price: 4, count: 0 }
        ]
      },
      computed: { // 计算属性
        // 使用场景：当一个变量是由一个或者多个响应式变量生成时可以使用计算属性
        // 特点：
        // 1. 计算属性是一个函数，必须有返回值，
        // 2. 调用时可以直接使用，不需要加括号调用，类似data中的变量
        // 3. 计算属性会自动监听函数内使用的响应式变量，当函数内的变量更新时会自动执行计算属性的函数计算结果
        // 4. 计算属性有缓存，当函数内的变量没有修改时不会执行函数，会从缓存中读取结果
        // 5. 计算属性不能手动赋值
        total() {
          return this.arr.reduce((prev, curr) => {
            return prev + curr.price * curr.count
          }, 0)
        }
      },
      methods: { // 定义函数
        // getTotal() {
        //   return this.arr.reduce((prev, curr) => {
        //     console.log('计算总价')
        //     return prev + curr.price * curr.count
        //   }, 0)
        // }
      }
    })

    // const currDom = {
    //   tagname: 'div',
    //   class: 'app',
    //   children: [
    //     { tagname: 'button', children: ['删除第一项'] },
    //     { tagname: 'ul', children: [
    //       { tagname: 'li', key: 1, children: [{ tagname: 'input' }, 'aaaa'] },
    //       { tagname: 'li', key: 2, children: [{ tagname: 'input' }, 'bbb'] },
    //       { tagname: 'li', key: 3, children: [{ tagname: 'input' }, 'ccccc'] }
    //     ] }
    //   ]
    // }
    // const newDom = {
    //   tagname: 'div',
    //   class: 'app',
    //   children: [
    //     { tagname: 'button', children: ['删除第一项'] },
    //     { tagname: 'ul', children: [
    //       { tagname: 'li', key: 2, children: [{ tagname: 'input' }, 'bbb'] },
    //       { tagname: 'li', key: 3, children: [{ tagname: 'input' }, 'ccccc'] }
    //     ] }
    //   ]
    // }


  </script>
</body>
</html>