<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <hr />
    <button @click="num++">点击次数：{{ num }}</button>
    <p>flag: <input type="checkbox" v-model="flag"> {{ flag }}</p>
    <p>len: {{ len }}</p>
  </div>

  <script>


    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        num: 0,
        flag: false
      },
      computed: { // 计算属性
        // 使用场景：当一个变量是由一个或者多个响应式变量生成时可以使用计算属性
        // 特点：
        // 1. 计算属性是一个函数，必须有返回值，
        // 2. 调用时可以直接使用，不需要加括号调用，类似data中的变量
        // 3. 计算属性会自动监听函数内使用的响应式变量，当函数内的变量更新时会自动执行计算属性的函数计算结果
        // 4. 计算属性有缓存，当函数内的变量没有修改时不会执行函数，会从缓存中读取结果
        // 5. 计算属性不能手动赋值
        len() {
          if (this.flag) {
            return this.title.length + this.num
          }
          return '我不算了'
        }
      },
      methods: { // 定义函数
      }
    })


  </script>
</body>
</html>