<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div class="app">
    <p>姓氏：<input type="text" v-model="firstName"></p>
    <p>名字：<input type="text" v-model="lastName"></p>
    <button @click="changeName">修改姓名</button>
    <p>{{ fullName }}</p>
  </div>

  <script>


    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        firstName: '欧阳',
        lastName: '铁柱'
      },
      computed: { // 计算属性
        fullName: {
          get() {
            return `我的姓名是: ${this.firstName}${this.lastName}`
          },
          set(val) {
            console.log(val)
            this.firstName = val[0]
            this.lastName = val.slice(1)
          }
        }
      },
      methods: { // 定义函数
        changeName() {
          this.fullName = '123'
        }
      }
    })


  </script>
</body>
</html>
