<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>


<body>
  <div class="app">
    <ul>
      <!-- v-for和v-if在同一个标签上使用时，v-for的优先级更高 -->
      <!-- 注意：不推荐v-for和v-if同时使用，因为v-if会在每个元素上重复运行，增加不必要的解析，使用计算属性代替 -->
      <!-- <li v-for="item in arr" v-if="item % 2 === 1">{{ item }}</li> -->
      <li v-for="item in oddArr">{{ item }}</li>
    </ul>
    <hr />
    <button @click="isOdd = !isOdd">奇数：{{ isOdd }}</button>
    <ul>
      <li v-for="item in newArr">{{ item }}</li>
    </ul>
  </div>
  
  <script>


    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        arr: [1,2,3,4,5,6,7,8],
        isOdd: true
      },
      computed: { // 计算属性
        oddArr() {
          return this.arr.filter(v => v % 2 === 1)
        },
        newArr() {
          const n = this.isOdd ? 1 : 0
          return this.arr.filter(v => {
            return v % 2 === n
          })
        }
      },
      methods: { // 定义函数
      }
    })


  </script>
</body>
</html>