<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>


<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <button @click="title = Math.random()">修改标题</button>
    <p>title修改的次数: {{ num }}</p>
    <hr />
    <button @click="arr.shift()">删除第一个</button>
    <button @click="arr = []">清空</button>
    <button @click="arr[5].name = Math.random()">修改数组中的对象</button>
    {{ arr }}
    <hr />
    <button @click="obj = { a: 100 }">修改对象</button>
    <button @click="obj.name = 123">修改对象属性</button>
    <button @click="obj.info.age = Math.random()">修改对象age</button>
    {{obj}}
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        title: '标题',
        num: 0,
        arr: [1,2,3,4,5, { name: 'aaa' }],
        obj: {
          name: '小明',
          info: {
            age: 20
          }
        }
      },
      computed: { // 计算属性
      },
      watch: { // 侦听器
        // key 是要监听的变量， value: 变量改变时要执行的函数
        title(newVal, oldVal) {
          console.log('title 改变了', newVal, oldVal)
          console.log(this.title)
          this.num++
        },
        num() {
          console.log('num改变了', this.num)
        },
        // arr() {
        //   console.log('arr改变了', this.arr)
        // },
        // 深度监听：监听数组中对象内容的改变
        arr: {
          handler() {
            console.log('this.arr改变了', this.arr)
          },
          deep: true, // 深度监听
          immediate: true // 进入页面后立即执行一次
        },
        // obj() {
        //   console.log('obj改变了', this.obj)
        // },
        // obj: {
        //   handler() {
        //     console.log('obj改变了', this.obj)
        //   },
        //   deep: true
        // }
        // 'obj.info.age'() {
        //   console.log('obj.info.age', this.obj.info.age)
        // },
        'obj.info.age': 'changeObj',

      },
      methods: { // 定义函数
        changeObj() {
          console.log('obj改变时要执行的函数')
        }
      },
    })


  </script>
</body>
</html>