<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    display: flex;
    align-items: center;
  }
  h4, p, .btns {
    margin: 0 10px;
    width: 80px;
  }
  .btns {
    width: 100px;
  }
</style>

<body>
  <div class="app">
    <p>全选： <input type="checkbox" v-model="checkAll" @change="change"></p>
    <ul>
      <li v-for="item in list" :key="item.id">
        <input type="checkbox" v-model="item.checked">
        <h4>{{ item.name }}</h4>
        <p>价格： {{ item.price }}</p>
        <div class="btns">
          <template v-if="item.count > 0">
            <button @click="item.count--">-</button>
            {{ item.count }}
          </template>
          <button @click="item.count++">+</button>
        </div>
      </li>
    </ul>
    <p>总价： {{ total }}</p>
    {{list}}
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        list: [
          { id: 1, name: '苹果', price: 20, count: 1, checked: false },
          { id: 2, name: '香蕉', price: 10, count: 0, checked: true },
          { id: 3, name: '梨', price: 13, count: 2, checked: true },
          { id: 4, name: '橘子', price: 5, count: 3, checked: true }
        ],
        checkAll: false
      },
      computed: { // 计算属性
        total() {
          return this.list.reduce((prev, cur) => {
            return prev + (cur.checked ? cur.price * cur.count : 0)
          }, 0)
        }
      },
      watch: { // 侦听器
        list: {
          handler() {
            this.checkAll = this.list.every(v => v.checked)
          },
          deep: true,
          immediate: true
        }
      },
      methods: { // 定义函数
        change() {
          this.list.forEach(item => {
            item.checked = this.checkAll
          })
        }
      },
    })


  </script>
</body>
</html>