<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    display: flex;
    align-items: center;
  }
  h4, p, .btns {
    margin: 0 10px;
    width: 80px;
  }
  .btns {
    width: 100px;
  }
</style>

<body>
  <div class="app">
    <input type="text" placeholder="搜索歌曲/歌手" v-model.lazy="searchText"> {{searchText}}
    <ul>
      <li v-for="item in list" :key="item.id">{{item.name}}</li>
    </ul>
  </div>

  <script>

    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        searchText: '',
        list: []
      },
      computed: { // 计算属性
      },
      watch: { // 侦听器
        async searchText() {
          const res = await fetch(`https://zyxcl.xyz/music_api/search?keywords=${this.searchText}`).then(res => res.json())
          this.list = res.result.songs
        }
      },
      methods: { // 定义函数

      },
    })


    // async 函数处理异步，配置 await 让函数内部的异步代码按照同步的顺序执行
    // async 函数本身时异步的，返回一个 promise 对象

    async function run () {
      try {
        const res1 = await delay(1000)
        console.log(res1)

        const res2 = await delay(2000)
        console.log(res2)

        const res3 = await delay(3000)
        console.log(res3)
      } catch(e) {
        console.log('失败了：', e)
      }

      // const res = await Promise.all([delay(1000), delay(2000), delay(3000)])

      // console.log(res)
      return 1111
    }

    run().then(res => {
      console.log('run函数执行完毕', res)
    })

    // delay(1000)
    //   .then(res => {
    //     console.log(res)
    //     return delay(2000)
    //   })
    //   .then(res => {
    //     console.log(res)
    //     return delay(3000)
    //   })
    //   .then(res => {
    //     console.log(res)
    //   })








    function delay(ms) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          const num = Math.random()
          console.log('本次结果: ', num)
          if (num > 0.5) {
            reject(num)
          } else {
            resolve(num)
          }
        }, ms)
      })
    }



  </script>
</body>
</html>