<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
td {
  padding: 0 10px;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;

}
</style>

<body>
  <div class="app">
    <button @click="changeChecked(true)">全选</button>
    <button @click="changeChecked(null)">反选</button>
    <button @click="changeChecked(false)">全不选</button>
    <button @click="delGroup">批量删除</button>
    <button @click="list = []">清空购物车</button>
    <button @click="show = true">新增</button>
    <button @click="list.reverse()">倒序</button>
    <input type="text" placeholder="搜索" v-model="searchText">
    <button @click="reset">重置缓存</button>
    <table border="1">
      <thead>
        <tr>
          <td>选项</td>
          <td>名称</td>
          <td>产地</td>
          <td>数量</td>
          <td>生产时间</td>
          <td>单价</td>
          <td>小计</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in curList" :key="item.id">
          <td><input type="checkbox" v-model="item.checked"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>
            <button @click="item.count--">-</button>
            {{ item.count }}
            <button @click="item.count++">+</button>
          </td>
          <td>{{ item.date }}</td>
          <td>¥{{ item.price }}</td>
          <td>¥{{ item.count * item.price }}</td>
          <td>
            <button @click="edit(item)">编辑</button>
            <button @click="list.splice(index, 1)">删除</button>
          </td>
        </tr>
        <tr>
          <td colspan="8">总价：¥{{ total }}</td>
        </tr>
      </tbody>
    </table>
    <div class="dialog" v-show="show" @click.self="show = false">
      <div class="content">
        <p>名称: <input type="text" v-model.trim="dialogForm.name"></p>
        <p>产地: <input type="text" v-model.trim="dialogForm.address"></p>
        <p>价格: <input type="number" v-model.trim="dialogForm.price"></p>
        <button @click="confirm">确定</button>
      </div>
    </div>
  </div>

  <script>
    const defaultList = [
      { id: 1, name: '云南白药', address: '云南', count: 1, date: '2023-10-1', price: 10, checked: false },
      { id: 2, name: '板蓝根', address: '云南2', count: 2, date: '2023-10-2', price: 12, checked: false },
      { id: 3, name: '云南白药3', address: '云南3', count: 3, date: '2023-10-3', price: 13, checked: false },
      { id: 4, name: '云南白药4', address: '云南4', count: 4, date: '2023-10-4', price: 14, checked: false }
    ]
    // 创建 vue 实例对象
    const vm = new Vue({
      el: '.app', // 在此元素内可以使用 vue 语法
      data: { // 定义响应式数据，data中的数据会存到实例对象中
        show: false,
        searchText: '',
        dialogForm: {
          name: '',
          address: '',
          price: ''
        },
        list: JSON.parse(localStorage.getItem('list')) || defaultList
      },
      computed: { // 计算属性
        total() {
          return this.list.reduce((prev, val) => {
            return prev + (val.checked ? val.count * val.price : 0)
          }, 0)
        },
        curList() {
          return this.list.filter(v => v.name.includes(this.searchText))
        }
      },
      watch: { // 侦听器
        show() {
          if (!this.show) {
            this.dialogForm = {
              name: '',
              address: '',
              price: ''
            }
          }
        },
        list: {
          handler() {
            localStorage.setItem('list', JSON.stringify(this.list))
          },
          deep: true
        }
      },
      methods: { // 定义函数
        delGroup() {
          this.list = this.list.filter(v => !v.checked)
        },
        changeChecked(flag = null) {
          this.list.forEach(v => {
            const checked = flag === null ? !v.checked : flag
            return v.checked = checked
          })
        },
        confirm() {
          if (Object.values(this.dialogForm).some(v => v === '')) {
            alert('不能为空')
            return
          }
          if (this.dialogForm.id) {
            const index = this.list.findIndex(v => v.id === this.dialogForm.id)
            this.list.splice(index, 1, {...this.dialogForm})
          } else {
            this.list.push({
              id: Date.now(),
              date: new Date().toLocaleString(),
              count: 1,
              ...this.dialogForm
            })
          }
          this.show = false
        },
        edit(row) {
          console.log(row)
          this.dialogForm = {...row}
          this.show = true
        },
        reset() {
          localStorage.removeItem('list')
          this.list = defaultList
        }
      }
    })


  </script>
</body>
</html>