<script setup>
import { useRouter, useRoute } from 'vue-router'

// 获取路由实例对象，类似vue2中的 this.$router
const router = useRouter()
// 当前路由信息，类似vue2中的 this.$route
const route = useRoute()

console.log(route.query)

const changePage = () => {
  console.log(router)
  router.push('/about')
}
</script>

<template>
  <main>
    <h1>我是首页</h1>
    <button @click="changePage">跳转about</button>
  </main>
</template>
