<script setup>
import {
  ref,
  reactive,
  watch,
  watchEffect
} from 'vue'
import Child from './Child.vue'

const title = ref('我是标题')
const count = ref(0)

const add = n => {
  count.value += n
}

</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="count++">count: {{ count }}</button>
  <hr />
  <Child :title="title" :count="count" @add="add" />
</template>

<style lang='scss'>

</style>
