<script setup>
// 接收父组件的变量
const props = defineProps(['title', 'count'])
// 接收父组件传入的自定义事件
const emits = defineEmits(['add'])

const changeCount = () => {
  // 使用父组件传入的数据
  console.log(props.title)
  // 调用父组件的自定义事件
  emits('add', 2)
}

</script>

<template>
  <div class="child">
    <h3>我是child组件</h3>
    <h4>{{ title }}</h4>
    <p>count: {{ count }}</p>
    <button @click="changeCount">修改count</button>
    <button @click="emits('add', 5)">修改count + 5</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>
