<template>
  <div class="box">
    <h2>Form组件</h2>
    <p>姓名：<input type="text" v-model="obj.name"></p>
    <p>age：<input type="text" v-model="obj.age"></p>
    <p>sex：<input type="text" v-model="obj.sex"></p>
    <p>address：<input type="text" v-model="obj.address"></p>
    {{obj}}
  </div>
</template>

<script>
export default {
  data() {
    return {
      obj: {
        name: '',
        age: '',
        sex: '',
        address: ''
      }
    }
  },
  created() {
    console.log('form创建')
  },
  beforeDestroy() {
    console.log('form销毁前')
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
.inner {
  border: 1px solid red;
  padding: 20px;
}
</style>